.address {
	&__header {
		font-weight: 400;
		letter-spacing: 0;
	}
	&__tel {
		display: inline-block;
		font-size: size(18);
		line-height: 120%;
		margin-bottom: size(2);
		font-weight: 300;
		letter-spacing: 0.02rem;
	}
	&__map {
		margin: size(15) 0 size(25);
		width: auto;
		max-height: size(688);
	}
	&__contacts {
		p {
			margin-bottom: size(2);
		}
	}
	&__link {
		letter-spacing: 0.1rem;
		font-weight: 350;
		a {
			font-weight: 500;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: size(1);
				background: #fff;
			}
			&[href="mailto:home@aandp.ru"] {
				&::after {
					display: none;
				}
				span {
					position: relative;
					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						height: size(1);
						background: #fff;
					}
				}
			}
		}
	}
	&__info {
		margin-top: size(15);
		color: #CECECE;
		p {
			margin-bottom: size(2);
		}
	}
	&__btn {
		padding: size(5);
		margin-top: size(20);
		font-size: size(13);
	}
}

@media screen and(min-width: 768px) {
	.address {
		&__btn {
			min-width: size(250);
		}
	}
}

@media screen and(min-width: 1280px) {
	.address {
		&__tel {
			font-size: size(26);
		}
		&__map {
			margin: size(30) 0;
		}
		&__info {
			margin-top: size(20);
		}
		&__btn {
			margin-top: size(30);
			padding: size(10);
			font-size: size(16);
		}
	}
}

@media screen and(min-width: 1440px) {
	.address {
		&__header {
			font-size: size(20);
			line-height: size(26);
		}
		&__tel {
			margin-bottom: size(6);
			font-size: size(34);
			line-height: size(44);
		}
		&__contacts {
			p {
				margin-bottom: size(9);
			}
		}
		&__link {
			font-size: size(17);
			line-height: 120%;
		}
		&__map {
			margin: size(35) 0 size(67);
		}
		&__info {
			margin-top: size(32);
		}
		&__btn {
			min-width: size(367);
			padding: size(15) size(10);
			margin-top: size(45);
			font-size: size(20);
			line-height: size(26);
		}
	}
}