.breadcrumbs {
	width: auto;
	margin-top: size(14);
	padding-left: size(10);
	font-weight: 300;
	font-size: size(11);
	line-height: size(12);
	white-space: nowrap;
	text-align: center;
	overflow-x: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	&::-webkit-scrollbar { 
		width: 0; 
		height: 0; 
	}
	li {
		display: inline-block;
		margin-right: size(14);
		padding-right: size(17);
		position: relative;
		&::after {
			content: url('../../images/icons/arrow-right.svg');
			position: absolute;
			top: 0;
			right: 0;
		}
		&:last-child {
			margin-right: 0;
			padding-right: size(10);
			&::after {
				display: none;
			}
		}
	}
	a {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			bottom: 0;
			height: size(1);
			background: #fff;
			display: none;
		}
		&:hover,
		&:focus {
			&::after {
				display: block;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.breadcrumbs {
		margin-top: size(30);
		font-size: size(12);
		line-height: 120%;
	}
}

@media screen and(min-width: 1280px) {
	.breadcrumbs {
		display: none;
	}
}