.breadcrumbs {
	width: auto;
	margin-top: 14px;
	padding-left: 10px;
	font-weight: 300;
	font-size: 11px;
	line-height: 12px;
	white-space: nowrap;
	text-align: center;
	overflow-x: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	&::-webkit-scrollbar { 
		width: 0; 
		height: 0; 
	}
	li {
		display: inline-block;
		margin-right: 14px;
		padding-right: 17px;
		position: relative;
		&::after {
			content: url('../../images/icons/arrow-right.svg');
			position: absolute;
			top: 0;
			right: 0;
		}
		&:last-child {
			margin-right: 0;
			padding-right: 10px;
			&::after {
				display: none;
			}
		}
	}
	a {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			bottom: 0;
			height: 1px;
			background: #fff;
			display: none;
		}
		&:hover,
		&:focus {
			&::after {
				display: block;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.breadcrumbs {
		margin-top: 30px;
		font-size: 12px;
		line-height: 120%;
	}
}

@media screen and(min-width: 1280px) {
	.breadcrumbs {
		display: none;
	}
}