.btn {
	display: block;
	width: 100%;
	padding: size(11);
	font-weight: 500;
	font-size: size(14);
	line-height: size(28);
	text-align: center;
	background: $brown;
	color: #fff;
	transition: $transition;
	&:hover,
	&:focus {
		background: #6B5C4D;
	}
}

@media screen and(min-width: 768px) {
	.btn {
		display: inline-block;
		padding: size(15) size(30);
		width: auto;
		font-size: size(18);
	}
}