.catalog {
	margin-top: size(30);
	font-weight: 300;
	font-size: size(12);
	line-height: size(18);
	&__title {
		font-weight: bold;
		font-size: size(20);
		line-height: size(21);
		letter-spacing: 0.03rem;
	}
	&__img {
		&-dekstop {
			display: none;
			img {
				margin: 0 auto;
			}
		}
		&-tel {
			margin-top: size(15);
			img {
				margin: 0 auto;
				width: 48%;
				min-width: size(145);
				max-width: size(170);
				height: auto;
			}
		}
	}
	&__text {
		margin-top: size(7);
	}
	&__btn {
		margin-top: size(17);
	}
	&__descr {
		display: none;
	}
}

@media screen and(min-width: 768px) {
	.catalog {
		&__img {
			&-dekstop {
				max-width: size(300);
				width: size(300);
				display: block;
			}
			&-tel {
				display: none;
			}
		}
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
		}
		&__info {
			width: calc(100% - 20rem);
			min-height: size(270);
			display: flex;
			flex-direction: column;
		}
		&__text {
			margin-top: size(15);
		}
		&__btn {
			max-width: size(351);
			margin-top: size(20);
			margin-bottom: size(10);
		}
		&__descr {
			margin-top: auto;
			display: block;
			font-weight: 350;
			color: rgba(255, 255, 255, 0.4);
		}
	}
}

@media screen and(min-width: 1280px) {
	.catalog {
		margin-top: size(60);
		font-size: size(16);
		font-weight: 350;
		&__title {
			font-size: size(30);
			line-height: 130%;
		}
		&__img {
			&-dekstop {
				max-width: size(430);
				width: size(430);
			}
		}
		&__info {
			width: calc(100% - 33.125rem);
			min-height: size(370);
		}
		&__text {
			margin-top: size(30);
		}
		&__btn {
			margin-top: size(42);
		}
	}
}

@media screen and(min-width: 1440px) {
	.catalog {
		margin-top: size(100);
		font-size: size(18);
		line-height: 156%;
		&__title {
			font-size: size(55);
			line-height: size(71);
		}
	}
}