.catalog {
	margin-top: 30px;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	&__title {
		font-weight: bold;
		font-size: 20px;
		line-height: 21px;
		letter-spacing: 0.03rem;
	}
	&__img {
		&-dekstop {
			display: none;
			img {
				margin: 0 auto;
			}
		}
		&-tel {
			margin-top: 15px;
			img {
				margin: 0 auto;
				width: 48%;
				min-width: 145px;
				max-width: 170px;
				height: auto;
			}
		}
	}
	&__text {
		margin-top: 7px;
	}
	&__btn {
		margin-top: 17px;
	}
	&__descr {
		display: none;
	}
}

@media screen and(min-width: 768px) {
	.catalog {
		&__img {
			&-dekstop {
				max-width: 300px;
				width: 300px;
				display: block;
			}
			&-tel {
				display: none;
			}
		}
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
		}
		&__info {
			width: calc(100% - 320px);
			min-height: 270px;
			display: flex;
			flex-direction: column;
		}
		&__text {
			margin-top: 15px;
		}
		&__btn {
			max-width: 351px;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		&__descr {
			margin-top: auto;
			display: block;
			font-weight: 350;
			color: rgba(255, 255, 255, 0.4);
		}
	}
}

@media screen and(min-width: 1280px) {
	.catalog {
		margin-top: 60px;
		font-size: 16px;
		font-weight: 350;
		&__title {
			font-size: 30px;
			line-height: 130%;
		}
		&__img {
			&-dekstop {
				max-width: 430px;
				width: 430px;
			}
		}
		&__info {
			width: calc(100% - 530px);
			min-height: 370px;
		}
		&__text {
			margin-top: 30px;
		}
		&__btn {
			margin-top: 42px;
		}
	}
}

@media screen and(min-width: 1440px) {
	.catalog {
		margin-top: 100px;
		font-size: 18px;
		line-height: 156%;
		&__title {
			font-size: 55px;
			line-height: 71px;
		}
	}
}