.clubhouse {
	&__slider {
		width: 100%;
		max-width: size(1640);
		margin: 0 auto;
	}
	.gallery-thumbs {
		margin-top: size(5);
		&-wrapper {
			position: relative;
			.swiper {
				&-button {
					&-prev {
						width: size(11);
						height: size(20);
						margin: 0;
						position: static;
						background: transparent;
						&::after {
							width: size(11);
							height: size(20);
							font-size: 0;
							content: url('../../images/icons/clubhouse-arrow.svg');
							transform: rotate(180deg);
						}
					}
					&-next {
						width: size(11);
						height: size(20);
						margin: 0;
						position: static;
						background: transparent;
						&::after {
							width: size(11);
							height: size(20);
							font-size: 0;
							content: url('../../images/icons/clubhouse-arrow.svg');
						}
					}
				}
			}
		}
		.swiper {
			&-slide {
				width: size(100);
				height: auto;
				opacity: 0.4;
				box-sizing: border-box;
				&-thumb-active {
					opacity: 1;
				}
			}
		}
		&-btns {
			width: size(60);
			height: size(20);
			display: none;
			justify-content: space-between;
			position: absolute;
			z-index: 10;
			right: size(50);
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__list {
		margin-bottom: size(20);
		display: none;
		flex-wrap: wrap;
		font-weight: 350;
		font-size: size(12);
		line-height: size(15);
		letter-spacing: 0.1rem;
		text-align: center;
		li {
			margin-right: size(10);
			margin-bottom: size(10);
		}
		a {
			display: flex;
			align-items: center;
			height: 100%;
			padding: size(5) size(18);
			border: size(1) solid #fff;
			transition: $transition;
			&:hover,
			&:focus {
				background: #fff;
				color: #000;
			}
			&.active {
				border-width: size(2);
			}
		}
	}
	&__swiper {
		position: relative;
		&-item {
			width: 100%;
		}
	}
	.swiper {
		&-button {
			&-prev {
				display: none;
				width: size(70);
				height: size(70);
				left: 0;
				background: rgba(0, 0, 0, 0.9);
				&::after {
					width: size(11);
					height: size(20);
					font-size: 0;
					content: url('../../images/icons/clubhouse-arrow.svg');
					transform: rotate(180deg);
				}
			}
			&-next {
				display: none;
				width: size(70);
				height: size(70);
				right: 0;
				background: rgba(0, 0, 0, 0.9);
				&::after {
					width: size(11);
					height: size(20);
					font-size: 0;
					content: url('../../images/icons/clubhouse-arrow.svg');
				}
			}
		}
	}
	&__info {
		margin-top: size(15);
	}
	&__parameter {
		max-width: size(480);
		margin-top: size(15);
		&-size {
			display: inline-block;
			font-weight: 350;
			font-size: size(13);
			line-height: size(16);
			letter-spacing: 0.1rem;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: size(1);
				background: #fff;
			}
		}
		&-price {
			margin-top: size(5);
			font-weight: 700;
			font-size: size(24);
			line-height: size(31);
			letter-spacing: 0.1rem;
		}
		&-btn {
			padding: size(8);
			margin-top: size(15);
			font-size: size(16);
			line-height: size(28);
		}
		&-object {
			display: none;
		}
		&-metre {
			font-weight: 350;
			font-size: size(11);
			line-height: 120%;
		}
	}
	&__about {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
		&-header {
			margin-top: size(17);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			font-weight: 350;
			font-size: size(13);
			line-height: size(24);
			letter-spacing: 0.1rem;
			order: 1;
			li {
				display: none;
				&.clubhouse__about-tel {
					display: block;
				}
			}
			a {
				display: inline-block;
				padding-left: size(40);
				min-height: size(24);
				position: relative;
				&::before {
					content: '';
					position: absolute;
					background-repeat: no-repeat;
					background-size: contain;
				}
				span {
					position: relative;
					&::after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						height: size(1);
						background: #fff;
					}
				}
				&:hover,
				&:focus {
					span {
						&::after {
							display: none;
						}
					}
				}
			}
		}
		&-download {
			&::before {
				width: size(24);
				height: size(24);
				left: 0;
				top: 0;
				background-image: url('../../images/icons/clubhouse-download.svg');
			}
		}
		&-add {
			&::before {
				width: size(21);
				height: size(19);
				left: size(2);
				top: size(3);
				background-image: url('../../images/icons/clubhouse-add.svg');
			}
		}
		&-share {
			&::before {
				width: size(24);
				height: size(24);
				left: 0;
				top: 0;
				background-image: url('../../images/icons/clubhouse-share.svg');
			}
		}
		&-property {
			margin-top: size(20);
		}
		&-text {
			max-width: 100%;
			margin-top: size(17);
			font-weight: 350;
			font-size: size(11);
			line-height: size(14);
			color: #8A8A8A;
		}
	}
	&-sec {
		max-width: size(1690);
		margin: 0 auto;
		.clubhouse {
			&__parameter {
				margin-bottom: size(13);
				padding: size(20) size(15);
				border: size(2) solid #fff;
			}
			&__about {
				&-header {
					&--dekstop {
						display: none;
					}
				}
			}
		}
	}
	&__aside {
		&-prev {
			display: none;
			margin-bottom: size(30);
			padding-left: size(57);
			height: size(29);
			font-weight: bold;
			font-size: size(14);
			line-height: size(25);
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: size(2);
				width: size(29);
				height: size(19);
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url('../../images/icons/pagination-prev.svg');
			}
			span {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: size(1);
					background: #fff;
				}
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.clubhouse {
		&-sec {
			margin-top: size(30);
		}
		&__slider {
			position: relative;
			.gallery-thumbs {
				padding: size(15);
				margin: 0;
				width: 100%; 
				&-wrapper {
					width: 100%;
					position: absolute;
					overflow: hidden;
					z-index: 1;
					top: auto;
					bottom: 0;
					left: 0;
					background: rgba(0, 0, 0, 0.7);
				}
				.clubhouse__swiper-item {
					border: size(1) solid #fff;
				}
			}
		}
		&__info {
			margin-top: size(30);
		}
		&__aside {
			width: size(480);
			max-width: size(480);
		}
		&__about {
			&-header {
				font-size: size(14);
				line-height: size(26); 
			}
			&-text {
				margin-top: size(30);
				font-size: size(13);
				line-height: 120%;
			}
			&-property {
				margin-top: size(30);
			}
		}
		&__parameter {
			&-size {
				font-size: size(15);
			}
			&-price {
				font-size: size(28);
				line-height: 120%;
			}
			&-btn {
				width: 100%;
			}
			&-metre {
				font-size: size(13);
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.clubhouse {
		margin-top: size(30);
		.swiper {
			&-button {
				&-prev {
					display: flex;
				}
				&-next {
					display: flex;
				}
			}
		}
		.gallery-thumbs {
			max-width: calc(100% - 7.5rem);
			.swiper-wrapper {
				margin: 0;
			}
			&-btns {
				display: flex;
			}
		}
		&__slider {
			.gallery-thumbs {
				padding: size(20);
			}
		}
		&__info {
			margin-top: size(50);
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&__about {
			width: calc(100% - 31.875rem);
			&-header {
				width: 100%;
				margin-top: 0;
				order: 0;
				ul {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
				}
				li {
					display: block;
					margin-right: size(30);
					&:last-child {
						margin-right: 0;
					}
					&.clubhouse__about-tel {
						margin-right: auto;
					}
				}
			}
			&-text {
				margin-top: size(40);
				font-size: size(15);
				letter-spacing: 0.1rem;
			}
			&-property {
				max-width: size(950);
				margin-top: size(40);
			}
		}
		&__parameter {
			margin-top: size(25);
			&-size {
				font-size: size(18);
				line-height: size(21);
			}
			&-price {
				font-size: size(33);
				line-height: size(43);
				letter-spacing: 0.2rem;
			}
			&-btn {
				margin-top: size(30);
				padding: size(17);
				font-size: size(20);
				line-height: size(26);
				letter-spacing: 0.12rem;
			}
			&-object {
				margin-top: size(20);
				display: block;
				font-weight: bold;
				font-size: size(17);
				line-height: size(40);
				text-decoration: underline;
				letter-spacing: 0.12rem;
			}
			&-metre {
				margin-top: size(10);
				font-size: size(14);
			}
		}
		&-sec {
			padding-left: size(530);
			padding-right: size(25);
			position: relative;
			.container {
				padding: 0;
			}
			.clubhouse {
				&__aside {
					position: absolute;
					z-index: 10;
					left: size(25);
					top: 0;
					.clubhouse__about-header {
						margin-top: size(30);
					}
				}
				&__parameter {
					margin: 0;
					margin-bottom: size(20);
					padding: size(30) size(35);
					&-price {
						margin-top: size(35);
					}
				}
				&__about {
					width: 100%;
					&-header {
						&--dekstop {
							margin-top: size(20);
							display: block;
							ul {
								justify-content: flex-end;
							}
						}
					}
				}
			}
			.property {
				&__more {
					display: inline-block;
				}
			}
		}
		&__list {
			display: flex;
		}
		&__aside {
			&-prev {
				display: inline-block;
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.clubhouse {
		margin-top: size(98);
		&__about {
			width: calc(100% - 37.5);
			&-header {
				font-size: size(16);
				line-height: size(26);
				a.clubhouse__about-download {
					padding-left: size(48);
				}
			}
			&-property {
				margin-top: size(68);
			}
			&-text {
				margin-top: size(60);
				font-size: size(17);
				line-height: size(27);
			}
		}
		&__slider {
			.gallery-thumbs {
				padding: size(24) size(26);
			}
		}
		&__info {
			margin-top: size(100);
		}
		&-sec {
			margin-top: size(66);
			padding-left: size(577);
			.clubhouse__about-text {
				margin-top: size(38);
			}
		}
	}
}