.composition {
	display: none;
	width: 100%;
	max-width: size(1690);
	padding: 0 size(25);
	margin: 0 auto;
	margin-top: size(100);
	&__show {
		display: inline-block;
		padding-right: size(38);
		font-weight: bold;
		font-size: size(16);
		line-height: size(26);
		letter-spacing: 0.1rem;
		position: relative;
		&.active {
			&::after {
				transform: rotate(90deg);
			}
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: size(38);
			bottom: 0;
			height: size(1);
			background: #fff;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: size(4);
			right: 0;
			width: size(25);
			height: size(16);
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('../../images/icons/pagination-next.svg');
			transform: rotate(-90deg);
			transition: $transition;
		}
	}
	&__table {
		margin-top: size(40);
		display: none;
		width: 100%;
		border-collapse: collapse;
		&-header {
			border-bottom: size(3) solid #fff;
			th {
				padding: size(15) 0;
				text-align: left;
				font-weight: 500;
				font-size: size(15);
				span {
					padding-right: size(28);
					position: relative;
					&::after {
						content: '';
						position: absolute;
						right: 0;
						bottom: size(3);
						width: size(5);
						height: size(12);
						background-image: url('../../images/icons/arrow-right.svg');
						background-size: cover;
						transform: rotate(90deg);
					}
				}
			}
		}
		tr {
			cursor: pointer;
			&:hover,
			&:focus {
				p {
					background: #343434;
				}
			}
			p {
				height: size(40);
				line-height: size(40);
			}
			&.composition__table-first {
				td {
					padding: size(29) 0 size(17);
				}
			}
		}
		td {
			padding: size(16) 0;
			font-weight: 500;
			font-size: size(15);
			line-height: size(19);
			border-bottom: size(1) solid #343434;
			&.composition__table-id {
				font-size: size(18);
			}
			&.composition__table-price {
				width: size(200);
				font-weight: 700;
				font-size: size(18);
			}
		}
		&-id {
			width: size(150);
			span {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: size(1);
					background: #fff;
				}
			}
		}
		&-floor {
			width: size(135);
		}
		&-size {
			width: size(200);
		}
		&-bedroom {
			width: size(200);
		}
		&-condition {
			width: size(200);
		}
		&-metre {
			width: size(170);
		}
		&-price {
			font-weight: bold;
		}
	}
}

@media screen and(min-width: 1280px) {
	.composition {
		display: block;
		&__table {
			&.active {
				display: block;
			}
		}
	}
}

@media screen and(min-width: 1600px) {
	.composition {
		&__table {
			td {
				&.composition__table-id {
					font-size: size(21);
				}
				&.composition__table-price {
					font-size: size(21);
				}
			}
			&-id {
				width: size(220);
			}
			&-floor {
				width: size(185);
			}
			&-size {
				width: size(300);
			}
			&-bedroom {
				width: size(267);
			}
			&-condition {
				width: size(252);
			}
			&-metre {
				width: size(200);
			}
		}
	}
}