.download {
	opacity: 0;
	visibility: hidden;
	width: calc(100% - 1.25rem);
	max-height: 100vh;
	padding: size(15);
	background: #000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 95;
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	&::-webkit-scrollbar { 
		width: 0; 
		height: 0; 
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__title {
		width: calc(100% - 1.875rem);
		font-weight: 300;
		font-size: size(20);
		line-height: 120%;
	}
	&__close {
		width: size(22);
		height: size(22);
		&-text {
			display: none;
		}
		&-icon {
			display: block;
			width: size(22);
			height: size(22);
			position: relative;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: size(10);
				left: 0;
				width: 100%;
				height: size(1);
				background: #fff;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	&__text {
		margin-top: size(15);
		font-weight: 350;
		font-size: size(12);
		line-height: 130%;
		text-align: justify;
		position: relative;
		z-index: 5;
	}
	&__descr {
		margin-top: size(15);
		font-weight: bold;
		font-size: size(20);
		line-height: 120%;
	}
	&__form {
		margin-top: size(20);
		&-input {
			display: block;
			width: 100%;
			padding: size(13);
			margin-bottom: size(10);
			background: transparent;
			color: #fff;
			border: size(1) solid #C7C7C7;
			font-weight: 300;
			font-size: size(14);
			line-height: size(18);
		}
	}
	&__agree {
		margin-top: size(15);
		font-weight: 350;
		font-size: size(10);
		line-height: size(14);
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&-checkbox {
			display: inline-block;
			min-width: size(25);
			height: size(25);
			border: size(1) solid #4E4E4E;
			position: relative;
			svg {
				position: absolute;
				top: size(3);
				left: size(4);
				opacity: 0;
			}
		}
		&-text {
			display: block;
			width: calc(100% - 2.563rem);
			a {
				color: $brown;
			}
		}
		input {
			display: none;
			&:checked ~ .download__agree-checkbox {
				background: $brown;
				svg {
					opacity: 1;
				}
			}
		}
	}
	.btn {
		margin-top: size(15);
		letter-spacing: 0.1rem;
	}
	&__img {
		display: none;
	}
}

@media screen and(min-width: 768px) {
	.download {
		width: calc(100% - 3.125rem);
		max-width: size(808);
	}
}

@media screen and(min-width: 991px) {
	.download {
		padding: size(44) size(47) size(28) size(28);
		overflow: visible;
		&__top {
			align-items: center;
		}
		&__title {
			width: calc(100% - 9.375rem);
			font-size: size(36);
		}
		&__close {
			width: size(100);
			display: flex;
			align-items: center;
			justify-content: space-between;
			&-text {
				display: inline;
				text-transform: uppercase;
				font-weight: 500;
				font-size: size(13);
				line-height: size(17);
			}
		}
		&__inner {
			max-width: size(571);
		}
		&__text {
			font-size: size(14);
			line-height: size(22);
		}
		&__descr {
			margin-top: size(20);
			font-size: size(35);
			line-height: size(45);
		}
		&__form {
			max-width: size(366);
			&-input {
				min-height: size(56);
				padding: size(18);
				margin-bottom: size(20);
			}
		}
		&__agree {
			margin-top: size(30);
			font-size: size(14);
			line-height: size(18);
		}
		.btn {
			width: 100%;
			margin-top: size(30);
		}
		&__img {
			display: block;
			position: absolute;
			right: size(-90);
			bottom: size(-53);
		}
	}
}

@media screen and(min-width: 1366px) {
	.download {
		&__text {
			margin-top: size(100);
		}
	}
}