.estate {
	padding-bottom: size(30);
	position: relative;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: size(10);
		right: size(10);
		height: size(1);
		background: #303030;
	}
	&__header {
		max-width: size(300);
		margin: 0 auto;
		position: relative;
		top: size(-20);
	}
	&__tabs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		a {
			display: inline-block;
			min-height: size(37);
			padding: size(5);
			font-weight: bold;
			font-size: size(11);
			line-height: size(25);
			background: #000;
			border: size(2) solid $brown;
			text-align: center;
			transition: $transition;
			&.active {
				background: $brown;
			}
			&:hover,
			&:focus {
				background: $brown;
			}
		}
		&-type {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-start;
		}
		&-object {
			min-width: size(101);
		}
		&-complex {
			min-width: size(152);
		}
		&-map {
			min-width: size(37);
			min-height: size(37);
			margin-left: size(8);
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 52%;
				top: size(13);
				transform: translateX(-50%);
				width: size(11);
				height: size(1);
				background: #fff;
				border-radius: size(2);
				box-shadow: 0 size(4) 0 #fff, 0 size(8) 0 #fff;
				display: none;
			}
			&::after {
				content: '';
				position: absolute;
				left: size(9);
				top: size(8);
				width: size(15);
				height: size(15);
				background-image: url('../../images/icons/map-icon.svg');
				background-repeat: no-repeat;
				background-size: cover;
			}
			&__text {
				display: none;
			}
			&.active {
				&::after {
					display: none;
				}
				&::before {
					display: block;
				}
			}
		}
	}
	&__form {
		margin-top: size(11);
	}
	&__choose {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		&-btn {
			min-width: size(253);
			padding: size(9) size(9) size(8);
			padding-left: size(38);
			border: size(1) solid $brown;
			font-weight: 400;
			font-size: size(11);
			line-height: size(14);
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: size(12);
				width: size(15);
				height: size(14);
				background-image: url('../../images/icons/choose-icon.svg');
				background-repeat: no-repeat;
				background-size: contain;
			}
			&__text {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: size(1);
					background: #fff;
				}
			}
		}
		&-reset {
			min-width: size(37);
			min-height: size(33);
			border: size(1) solid rgba($brown, 0.3);
			position: relative;
			&::before,
			&::after {
				content: '';
				position: absolute;
				left: size(9);
				top: size(15);
				width: size(17);
				height: size(1);
				background: #fff;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	&__manage {
		max-width: size(250);
		height: 100vh;
		padding: size(23) size(20);
		position: fixed;
		z-index: 100;
		top: 0;
		right: -100%;
		background: #000;
		transition: $transition;
		overflow-y: scroll;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		&::-webkit-scrollbar { 
			width: 0; 
			height: 0; 
		}
		&.active {
			right: 0;
		}
		&-close {
			display: inline-block;
			padding-left: size(35);
			height: size(19);
			position: relative;
			font-weight: 500;
			font-size: size(12);
			line-height: size(19);
			text-transform: uppercase;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: size(9);
				left: 0;
				width: size(25);
				height: size(1);
				border-radius: size(3);
				background: #fff; 
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
		&-range {
			margin-top: size(15);
			&__inner {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;
			}
			&__item {
				width: calc(50% - 0.313rem);
			}
			&__title {
				font-weight: 500;
				font-size: size(11);
				line-height: size(14);
				color: rgba(255, 255, 255, 0.5);
			}
			&__value {
				display: block;
				font-weight: 500;
				font-size: size(12);
				line-height: size(15);
				color: #fff;
				background-color: transparent;
				border: none;
			}
			.ui-slider {
				margin-top: size(12);
				height: size(1);
				border-radius: 0;
				border: 0;
				background: rgba(196, 196, 196, 0.3);
				&-handle {
					width: size(18);
					height: size(10);
					border: 0;
					border-radius: 0;
					outline: 0;
					cursor: pointer;
				}
			}
			.ui-widget-header {
				height: size(1);
				border: 0;
				background-color: #C4C4C4;
			}
		}
		&-type {
			margin-top: size(30);
			font-weight: 500;
			font-size: size(13);
			line-height: size(17);
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			cursor: pointer;
			&__checkbox {
				display: inline-block;
				margin: 0 size(20);
				width: size(64);
				height: size(19);
				background: #423E3A;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 50%;
					height: 100%;
					background: #fff;
					transition: $transition;
				}
			}
			input {
				display: none;
				&:checked ~ .estate__manage-type__checkbox {
					&::before {
						left: 50%;
					}
				}
			}
		}
		&-list {
			margin-top: size(45);
			font-weight: 500;
			font-size: size(14);
			line-height: size(18);
			li {
				margin-bottom: size(14);
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				display: inline-block;
				padding: size(10) size(16);
				padding-right: size(59);
				position: relative;
				&::after {
					content: '';
					position: absolute;
					right: size(16);
					top: 50%;
					transform: translateY(-50%);
					width: size(13);
					height: size(8);
					background-image: url('../../images/icons/estate-arrow.svg');
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
	}
	&__bottom {
		margin-top: size(22);
		font-weight: 400;
		font-size: size(12);
		line-height: size(15);
		&-map {
			position: relative;
			display: none;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: size(1);
				background: #fff;
			}
		}
	}
	&__sort {
		a {
			position: relative;
			padding-right: size(20);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				right: size(20);
				bottom: 0;
				height: size(1);
				background: #fff;
			}
			&::after {
				content: '';
				position: absolute;
				width: size(12);
				height: size(8);
				background-image: url('../../images/icons/prev-arrow.svg');
				background-repeat: no-repeat;
				background-size: contain;
				right: 0;
				bottom: size(2);
				transform: rotate(-90deg);
			}
		}
	}
	&__gallery {
		margin-top: size(10);
		padding: 0;
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
		&-item {
			width: 100%;
			max-width: size(955);
			height: auto;
			margin-bottom: size(5);
			&--none {
				display: none;
			}
		}
	}
	&__more {
		display: block;
		padding: size(10);
		margin-top: size(24);
		text-align: center;
		font-size: size(12);
		line-height: size(15);
		letter-spacing: 0.1rem;
		border: size(1) solid #fff;
	}
	&__about {
		margin-top: size(30);
		font-size: size(12);
		line-height: size(13);
		letter-spacing: 0.06rem;
		color: #686868;
		&-hidden {
			display: none;
		}
		&-more {
			display: inline-block;
			margin-top: size(14);
			color: #fff;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: size(1);
				background: #fff;
			}
		}
	}
	&__map {
		margin-top: size(10);
		height: size(350);
		background-image: url('../../images/map/map.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__content {
		display: none;
		&.active {
			display: block;
		}
	}
	&__popup {
		width: size(255);
		position: fixed;
		z-index: 100;
		top: 0;
		left: -100%;
		background: #000;
		max-height: 100vh;
		transition: $transition;
		overflow-y: scroll;
		&.active {
			left: 0;
		}
		&::-webkit-scrollbar { 
			width: size(5); 
			background: #000;
			&-thumb {
				width: size(5);
				background: #fff;
			}
		}
		&-img {
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
		&-info {
			padding: size(15) size(19) size(20);
		}
		&-title {
			font-weight: 500;
			font-size: size(12);
			line-height: size(15);
			text-transform: uppercase;
			letter-spacing: 0.02rem;
		}
		&-street {
			margin-top: size(3);
			font-weight: 350;
			font-size: size(10);
			line-height: size(13);
		}
		&-size {
			margin-top: size(15);
			font-weight: 350;
			font-size: size(10);
			line-height: size(13);
			span {
				display: none;
			}
		}
		&-price {
			font-weight: bold;
			font-size: size(21);
			line-height: size(27);
		}
		&-more {
			display: inline-block;
			margin-top: size(15);
			font-weight: 350;
			font-size: size(12);
			line-height: size(15);
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: size(1);
				background: #fff;
			}
		}
		&-link {
			margin-top: size(20);
			padding: size(10);
			display: block;
			font-weight: 500;
			font-size: size(13);
			line-height: size(17);
			letter-spacing: 0.08rem;
		}
		&-text {
			display: none;
			margin: size(17) 0 size(26);
			font-weight: 350;
			font-size: size(12);
			line-height: size(15);
			color: rgba(#fff, 0.5);
		}
	}
}

@media screen and(min-width: 630px) {
	.estate {
		&__gallery {
			display: flex;
			flex-wrap: wrap;
			&-item {
				width: calc(50% - 0.313rem);
				margin-bottom: size(10);
				&:nth-child(odd) {
					margin-right: size(10);
				}
				&--none {
					display: block;
				}
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.estate {
		&::after {
			left: size(15);
			right: size(15);
		}
		&__more {
			display: none;
		}
		&__map {
			height: size(450);
		}
		&__popup {
			width: size(360);
			&-info {
				padding: size(30) size(25);
			}
			&-title {
				font-size: size(18);
				line-height: size(23);
			}
			&-street {
				margin-top: size(4);
				font-size: size(14);
				line-height: size(18);
				color: rgba(#fff, 0.5);
			}
			&-size {
				font-size: size(14);
				line-height: size(18);
				span {
					display: inline;
				}
			}
			&-price {
				margin-top: size(20);
				font-size: size(27);
				line-height: size(35);
			}
			&-text {
				display: block;
			}
			&-more {
				margin: 0;
				font-size: size(14);
				line-height: size(18);
			}
			&-link {
				margin-top: size(35);
				padding: size(15);
				font-size: size(15);
				line-height: size(19);
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.estate {
		padding-bottom: 0;
		&::after {
			display: none;
		}
		&__header {
			max-width: 100%;
		}
		&__choose {
			display: none;
		}
		&__tabs {
			max-width: size(806);
			margin: 0 auto;
			&-type {
				width: size(524);
			}
			li {
				width: 50%;
			}
			a {
				width: 100%;
				max-width: size(262);
				padding: size(10);
				font-size: size(14);
				line-height: size(25);
			}
			&-map {
				&::after {
					display: none;
				}
				&__text {
					display: inline;
				}
			}
		}
		&__form {
			margin: 0 auto;
			margin-top: size(37);
			padding: 0 size(25);
			padding-bottom: size(33);
			max-width: size(1690);
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: size(25);
				right: size(25);
				bottom: 0;
				height: size(1);
				background: rgba(255, 255, 255, 0.3);
			}
		}
		&__manage {
			position: static;
			max-width: 100%;
			padding: 0;
			height: auto;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			&-close {
				display: none;
			}
			&-range {
				max-width: size(370);
				margin-top: size(20);
				padding: size(10) 0;
				order: 1;
				.ui-slider {
					margin-left: size(10);
					margin-top: size(12);
				}
				&__inner {
					justify-content: space-between;
				}
				&__item {
					display: flex;
					align-items: flex-end;
				}
				&__title {
					margin-right: size(7);
					font-size: size(17);
					line-height: size(22);
				}
				&__value {
					max-width: size(150);
					font-size: size(17);
					line-height: size(22);
				}
			}
			&-type {
				margin-top: size(10);
				order: -1;
				font-size: size(17);
				line-height: size(22);
			}
			&-list {
				width: calc(100% - 15rem);
				margin-top: 0;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex-wrap: wrap;
				font-size: size(17);
				line-height: size(22);
				li {
					margin-bottom: 0;
				}
				a {
					padding-right: size(49);
				}
			}
		}
		&__bottom {
			margin-top: size(25);
			font-size: size(14);
			line-height: size(18);
			letter-spacing: 0.09rem;
		}
		&__sort {
			a {
				padding-right: size(30);
				&::before {
					right: size(30);
				}
				&::after {
					width: size(17);
					height: size(13);
				}
			}
		}
		&__inner {
			padding: 0;
			max-width: size(1920);
			margin: 0 auto;
		}
		&__about {
			max-width: size(1690);
			margin: 0 auto;
			margin-top: size(40);
			padding: 0 size(25);
			font-size: size(15);
			line-height: size(23);
			&-etc {
				display: none;
			}
			&-hidden {
				display: inline;
			}
			&-more {
				margin-top: size(20);
				letter-spacing: 0.12rem;
			}
		}
		&__map {
			height: size(700);
			position: relative;
		}
		&__popup {
			width: size(412);
			max-height: 100%;
			position: absolute;
			background: rgba(#000, 0.7);
			&-list {
				width: size(355);
				margin: 0 auto;
			}
			&-info {
				background: rgba(#000, 0.7);
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.estate {
		&__header {
			top: size(-50);
		}
		&__map {
			height: size(1000);
		}
	}
}

@media screen and(min-width: 1600px) {
	.estate {
		&__manage {
			align-items: center;
			justify-content: flex-start;
			&-type {
				margin-top: 0;
			}
			&-list {
				width: auto;
				max-width: size(805);
				margin-left: size(45);
				justify-content: flex-start;
				li {
					margin-right: size(30);
					&:last-child {
						margin-right: 0;
					}
				}
			}
			&-range {
				margin-top: 0;
				margin-left: auto;
			}
		}
		&__bottom {
			margin-top: size(34);
		}
		&__about {
			margin-top: size(50);
			letter-spacing: 0.09rem;
		}
	}
}