.estate {
	padding-bottom: 30px;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 10px;
		right: 10px;
		height: 1px;
		background: #303030;
	}
	&__header {
		max-width: 300px;
		margin: 0 auto;
		position: relative;
		top: -20px;
	}
	&__tabs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		a {
			display: inline-block;
			min-height: 37px;
			padding: 5px;
			font-weight: bold;
			font-size: 11px;
			line-height: 25px;
			background: #000;
			border: 2px solid $brown;
			text-align: center;
			transition: $transition;
			&.active {
				background: $brown;
			}
			&:hover,
			&:focus {
				background: $brown;
			}
		}
		&-type {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-start;
		}
		&-object {
			min-width: 101px;
		}
		&-complex {
			min-width: 152px;
		}
		&-map {
			min-width: 37px;
			min-height: 37px;
			margin-left: 8px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 52%;
				top: 13px;
				transform: translateX(-50%);
				width: 11px;
				height: 1px;
				background: #fff;
				border-radius: 2px;
				box-shadow: 0 4px 0 #fff, 0 8px 0 #fff;
				display: none;
			}
			&::after {
				content: '';
				position: absolute;
				left: 9px;
				top: 8px;
				width: 15px;
				height: 15px;
				background-image: url('../../images/icons/map-icon.svg');
				background-repeat: no-repeat;
				background-size: cover;
			}
			&__text {
				display: none;
			}
			&.active {
				&::after {
					display: none;
				}
				&::before {
					display: block;
				}
			}
		}
	}
	&__form {
		margin-top: 11px;
	}
	&__choose {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		&-btn {
			min-width: 253px;
			padding: 9px 9px 8px;
			padding-left: 38px;
			border: 1px solid $brown;
			font-weight: 400;
			font-size: 11px;
			line-height: 14px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 12px;
				width: 15px;
				height: 14px;
				background-image: url('../../images/icons/choose-icon.svg');
				background-repeat: no-repeat;
				background-size: contain;
			}
			&__text {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 1px;
					background: #fff;
				}
			}
		}
		&-reset {
			min-width: 37px;
			min-height: 33px;
			border: 1px solid rgba($brown, 0.3);
			position: relative;
			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 9px;
				top: 15px;
				width: 17px;
				height: 1px;
				background: #fff;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	&__manage {
		max-width: 250px;
		height: 100vh;
		padding: 23px 20px;
		position: fixed;
		z-index: 100;
		top: 0;
		right: -100%;
		background: #000;
		transition: $transition;
		overflow-y: scroll;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		&::-webkit-scrollbar { 
			width: 0; 
			height: 0; 
		}
		&.active {
			right: 0;
		}
		&-close {
			display: inline-block;
			padding-left: 35px;
			height: 19px;
			position: relative;
			font-weight: 500;
			font-size: 12px;
			line-height: 19px;
			text-transform: uppercase;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 9px;
				left: 0;
				width: 25px;
				height: 1px;
				border-radius: 3px;
				background: #fff; 
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
		&-range {
			margin-top: 15px;
			&__inner {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;
			}
			&__item {
				width: calc(50% - 5px);
			}
			&__title {
				font-weight: 500;
				font-size: 11px;
				line-height: 14px;
				color: rgba(255, 255, 255, 0.5);
			}
			&__value {
				display: block;
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				color: #fff;
				background-color: transparent;
				border: none;
			}
			.ui-slider {
				margin-top: 12px;
				height: 1px;
				border-radius: 0;
				border: 0;
				background: rgba(196, 196, 196, 0.3);
				&-handle {
					width: 18px;
					height: 10px;
					border: 0;
					border-radius: 0;
					outline: 0;
				}
			}
			.ui-widget-header {
				height: 1px;
				border: 0;
				background-color: #C4C4C4;
			}
		}
		&-type {
			margin-top: 30px;
			font-weight: 500;
			font-size: 13px;
			line-height: 17px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			&__checkbox {
				display: inline-block;
				margin: 0 20px;
				width: 64px;
				height: 19px;
				background: #423E3A;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 50%;
					height: 100%;
					background: #fff;
					transition: $transition;
				}
			}
			input {
				display: none;
				&:checked ~ .estate__manage-type__checkbox {
					&::before {
						left: 50%;
					}
				}
			}
		}
		&-list {
			margin-top: 45px;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			li {
				margin-bottom: 14px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				display: inline-block;
				padding: 10px 16px;
				padding-right: 59px;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					right: 16px;
					top: 50%;
					transform: translateY(-50%);
					width: 13px;
					height: 8px;
					background-image: url('../../images/icons/estate-arrow.svg');
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
	}
	&__bottom {
		margin-top: 22px;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		&-map {
			position: relative;
			display: none;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background: #fff;
			}
		}
	}
	&__sort {
		a {
			position: relative;
			padding-right: 20px;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				right: 20px;
				bottom: 0;
				height: 1px;
				background: #fff;
			}
			&::after {
				content: '';
				position: absolute;
				width: 12px;
				height: 8px;
				background-image: url('../../images/icons/prev-arrow.svg');
				background-repeat: no-repeat;
				background-size: contain;
				right: 0;
				bottom: 2px;
				transform: rotate(-90deg);
			}
		}
	}
	&__gallery {
		margin-top: 10px;
		padding: 0;
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
		&-item {
			width: 100%;
			height: auto;
			margin-bottom: 5px;
			&--none {
				display: none;
			}
		}
	}
	&__more {
		display: block;
		padding: 10px;
		margin-top: 24px;
		text-align: center;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.1rem;
		border: 1px solid #fff;
	}
	&__about {
		margin-top: 30px;
		font-size: 12px;
		line-height: 13px;
		letter-spacing: 0.06rem;
		color: #686868;
		&-hidden {
			display: none;
		}
		&-more {
			display: inline-block;
			margin-top: 14px;
			color: #fff;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background: #fff;
			}
		}
	}
	&__map {
		margin-top: 10px;
		height: 350px;
		background-image: url('../../images/map/map.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__content {
		display: none;
		&.active {
			display: block;
		}
	}
	&__popup {
		width: 255px;
		position: fixed;
		z-index: 100;
		top: 0;
		left: -100%;
		background: #000;
		max-height: 100vh;
		transition: $transition;
		overflow-y: scroll;
		&.active {
			left: 0;
		}
		&::-webkit-scrollbar { 
			width: 5px; 
			background: #000;
			&-thumb {
				width: 5px;
				background: #fff;
			}
		}
		&-img {
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
		&-info {
			padding: 15px 19px 20px;
		}
		&-title {
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			letter-spacing: 0.02rem;
		}
		&-street {
			margin-top: 3px;
			font-weight: 350;
			font-size: 10px;
			line-height: 13px;
		}
		&-size {
			margin-top: 15px;
			font-weight: 350;
			font-size: 10px;
			line-height: 13px;
			span {
				display: none;
			}
		}
		&-price {
			font-weight: bold;
			font-size: 21px;
			line-height: 27px;
		}
		&-more {
			display: inline-block;
			margin-top: 15px;
			font-weight: 350;
			font-size: 12px;
			line-height: 15px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background: #fff;
			}
		}
		&-link {
			margin-top: 20px;
			padding: 10px;
			display: block;
			font-weight: 500;
			font-size: 13px;
			line-height: 17px;
			letter-spacing: 0.08rem;
		}
		&-text {
			display: none;
			margin: 17px 0 26px;
			font-weight: 350;
			font-size: 12px;
			line-height: 15px;
			color: rgba(#fff, 0.5);
		}
	}
}

@media screen and(min-width: 630px) {
	.estate {
		&__gallery {
			display: flex;
			flex-wrap: wrap;
			&-item {
				width: calc(50% - 5px);
				margin-bottom: 10px;
				&:nth-child(odd) {
					margin-right: 10px;
				}
				&--none {
					display: block;
				}
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.estate {
		&::after {
			left: 15px;
			right: 15px;
		}
		&__more {
			display: none;
		}
		&__map {
			height: 450px;
		}
		&__popup {
			width: 360px;
			&-info {
				padding: 30px 25px;
			}
			&-title {
				font-size: 18px;
				line-height: 23px;
			}
			&-street {
				margin-top: 4px;
				font-size: 14px;
				line-height: 18px;
				color: rgba(#fff, 0.5);
			}
			&-size {
				font-size: 14px;
				line-height: 18px;
				span {
					display: inline;
				}
			}
			&-price {
				margin-top: 20px;
				font-size: 27px;
				line-height: 35px;
			}
			&-text {
				display: block;
			}
			&-more {
				margin: 0;
				font-size: 14px;
				line-height: 18px;
			}
			&-link {
				margin-top: 35px;
				padding: 15px;
				font-size: 15px;
				line-height: 19px;
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.estate {
		padding-bottom: 0;
		&::after {
			display: none;
		}
		&__header {
			max-width: 100%;
		}
		&__choose {
			display: none;
		}
		&__tabs {
			max-width: 806px;
			margin: 0 auto;
			&-type {
				width: 524px;
			}
			li {
				width: 50%;
			}
			a {
				width: 100%;
				max-width: 262px;
				padding: 10px;
				font-size: 14px;
				line-height: 25px;
			}
			&-map {
				&::after {
					display: none;
				}
				&__text {
					display: inline;
				}
			}
		}
		&__form {
			margin: 0 auto;
			margin-top: 37px;
			padding: 0 25px;
			padding-bottom: 33px;
			max-width: 1690px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 25px;
				right: 25px;
				bottom: 0;
				height: 1px;
				background: rgba(255, 255, 255, 0.3);
			}
		}
		&__manage {
			position: static;
			max-width: 100%;
			padding: 0;
			height: auto;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			&-close {
				display: none;
			}
			&-range {
				max-width: 370px;
				margin-top: 20px;
				padding: 10px 0;
				order: 1;
				.ui-slider {
					margin-left: 10px;
					margin-top: 12px;
				}
				&__inner {
					justify-content: space-between;
				}
				&__item {
					display: flex;
					align-items: flex-end;
				}
				&__title {
					margin-right: 7px;
					font-size: 17px;
					line-height: 22px;
				}
				&__value {
					max-width: 150px;
					font-size: 17px;
					line-height: 22px;
				}
			}
			&-type {
				margin-top: 10px;
				order: -1;
				font-size: 17px;
				line-height: 22px;
			}
			&-list {
				width: calc(100% - 240px);
				margin-top: 0;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex-wrap: wrap;
				font-size: 17px;
				line-height: 22px;
				li {
					margin-bottom: 0;
				}
				a {
					padding-right: 49px;
				}
			}
		}
		&__bottom {
			margin-top: 25px;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.09rem;
		}
		&__sort {
			a {
				padding-right: 30px;
				&::before {
					right: 30px;
				}
				&::after {
					width: 17px;
					height: 13px;
				}
			}
		}
		&__inner {
			padding: 0;
			max-width: 1920px;
			margin: 0 auto;
		}
		&__about {
			max-width: 1690px;
			margin: 0 auto;
			margin-top: 40px;
			padding: 0 25px;
			font-size: 15px;
			line-height: 23px;
			&-etc {
				display: none;
			}
			&-hidden {
				display: inline;
			}
			&-more {
				margin-top: 20px;
				letter-spacing: 0.12rem;
			}
		}
		&__map {
			height: 700px;
			position: relative;
		}
		&__popup {
			width: 412px;
			max-height: 100%;
			position: absolute;
			background: rgba(#000, 0.7);
			&-list {
				width: 355px;
				margin: 0 auto;
			}
			&-info {
				background: rgba(#000, 0.7);
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.estate {
		&__header {
			top: -50px;
		}
		&__map {
			height: 1000px;
		}
	}
}

@media screen and(min-width: 1600px) {
	.estate {
		&__manage {
			align-items: center;
			justify-content: flex-start;
			&-type {
				margin-top: 0;
			}
			&-list {
				width: auto;
				max-width: 805px;
				margin-left: 45px;
				justify-content: flex-start;
				li {
					margin-right: 30px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			&-range {
				margin-top: 0;
				margin-left: auto;
			}
		}
		&__bottom {
			margin-top: 34px;
		}
		&__about {
			margin-top: 50px;
			letter-spacing: 0.09rem;
		}
	}
}