.features {
	margin-top: size(40);
	font-weight: 300;
	font-size: size(10);
	line-height: size(13);
	letter-spacing: 0.055rem;
	font-weight: 300;
	&__list {
		margin-top: size(20);
		padding-left: size(10);
		display: flex;
		overflow-x: scroll;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		&::-webkit-scrollbar { 
			width: 0; 
			height: 0;  
		}
		li {
			min-width: size(220);
			margin-right: size(27);
		}
		&-title {
			margin-bottom: size(11);
			padding-bottom: size(6);
			font-size: size(11);
			line-height: size(14);
			letter-spacing: 0.07rem;
			font-weight: bold;
			text-transform: uppercase;
			white-space: nowrap;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: size(31);
				height: size(1);
				background: #B5A798;
			}
		}
	}
	&__title {
		padding: 0 size(10);
		font-weight: bold;
		font-size: size(20);
		line-height: size(21);
		letter-spacing: -0.008rem;
	}
}

@media screen and(min-width: 768px) {
	.features {
		&__title {
			padding: 0 size(15);
			br {
				display: none;
			}
		}
		&__list {
			padding-left: size(15);
		}
	}
}

@media screen and(min-width: 1280px) {
	.features {
		margin-top: size(60);
		padding: 0 size(25);
		font-size: size(13);
		line-height: 120%;
		&__title {
			padding: 0;
			font-size: size(40);
			line-height: 120%;
		}
		&__list {
			margin-top: size(30);
			padding: 0;
			overflow-x: visible;
			flex-wrap: wrap;
			justify-content: space-between;
			&-title {
				font-size: size(14);
				line-height: 120%;
			}
			li {
				width: calc(25% - 0.938rem);
				margin-right: 0;
				&:nth-child(4n) {
					margin-right: 0;
				}
			}
			p {
				max-width: size(240);
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.features {
		&__title {
			font-size: size(63);
			line-height: size(100);
		}
		&__list {
			margin-top: size(35);
			li {
				width: auto;
			}
		}
	}		
}	

@media screen and(min-width: 1600px) {
	.features {
		max-width: size(1690);
		margin: 0 auto;
		margin-top: size(100);
		font-size: size(16);
		line-height: size(21);
		letter-spacing: 0.11rem;
		&-city {
			margin-top: size(73);
		}
		&__list {
			margin-top: size(55);
			&-title {
				margin-bottom: size(20);
				font-size: size(18);
				line-height: size(23);
				letter-spacing: 0.13rem;
				&::after {
					width: size(50);
				}
			}
			p {
				max-width: size(310);
			}
		}
	}		
}	