.flat {
	margin-top: size(30);
	padding: size(30) 0;
	position: relative; 
	&__header {
		padding: 0 size(10);
		padding-top: size(30);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: size(10);
			right: size(10);
			top: 0;
			height: size(1);
			background: #303030;
		}
		&-title {
			font-weight: 300;
			font-size: size(16);
			line-height: size(17); 
		}
		&-link {
			font-weight: 350;
			font-size: size(12);
			line-height: 120%;
			color: #808080;
			position: relative;
			&:hover,
			&:focus {
				color: #fff;
				&::after {
					display: none;
				}
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: size(1);
				background: #808080;
			}
		}
	}
	&__btns {
		margin-left: auto;
		display: none;
		.swiper {
			&-button {
				&-prev {
					width: size(40);
					height: size(27);
					position: static;
					transform: rotate(180deg);
					&::after {
						width: size(40);
						height: size(27);
						content: url('../../images/icons/swiper-btn.svg');
						font-size: 0;
					}
				}
				&-next {
					margin-left: size(40);
					width: size(40);
					height: size(27);
					position: static;
					&::after {
						width: size(40);
						height: size(27);
						content: url('../../images/icons/swiper-btn.svg');
						font-size: 0;
					}
				}
			}
		}
	}
	&__swiper {
		padding-left: size(10);
		margin-top: size(11);
	}
	&__item {
		width: 96%;
		max-width: size(500);
		height: auto;
		overflow: hidden;
		display: inline-block;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: linear-gradient(300.28deg, rgba(0, 0, 0, 0) 46.04%, rgba(0, 0, 0, 0.69) 78.3%);
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__info {
		&-top {
			width: size(162);
			position: absolute;
			z-index: 5;
			top: size(16);
			left: size(18);
			&__title {
				font-weight: 500;
				font-size: size(11);
				line-height: size(14);
				text-transform: uppercase;
			}
			&__street {
				margin-top: size(8);
				font-weight: 400;
				font-size: size(8);
				line-height: size(9);
				color: rgba(255, 255, 255, 0.9);
			}
			&__size {
				margin-top: size(2);
				font-weight: 400;
				font-size: size(9);
				line-height: size(14);
			}
			&__area {
				margin-top: size(2);
				font-weight: 500;
				font-size: size(11);
				line-height: size(14);
				letter-spacing: 0.02rem;
			}
			&__price {
				font-size: size(14);
				line-height: size(14);
				font-weight: bold;
				letter-spacing: 0.02rem;
			}
			a {
				display: inline-block;
			}
		}
		&-bottom {
			width: 100%;
			padding: size(15) size(18);
			position: absolute;
			z-index: 5;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(size(5));
			&__metre {
				font-weight: 400;
				font-size: size(10);
				line-height: size(14);
				letter-spacing: 0.02rem;
			}
			&__price {
				font-weight: bold;
				font-size: size(14);
				line-height: size(14);
				word-spacing: 0.1rem;
				&-num {
					letter-spacing: 0.02rem;
				}
			}
			&__title {
				max-width: size(233);
				font-weight: 500;
				font-size: size(11);
				line-height: size(15);
				text-transform: uppercase;
			}
			&__inner {
				display: none;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.flat {
		&__header {
			padding: 0 size(15);
			margin-bottom: size(20);
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			&::before {
				left: size(15);
				right: size(15);
			}
			&-title {
				margin-right: size(20);
				font-size: size(20);
				line-height: 120%;
			}
			&-link {
				margin-bottom: size(3);
				font-size: size(14);
			}
		}
		&__info {
			&-top {
				width: size(178);
				&__title {
					font-size: size(12);
					line-height: 120%;
				}
				&__street {
					font-size: size(10);
					line-height: 120%;
				}
				&__price {
					font-size: size(15);
					line-height: 120%;
				}
				&__size {
					font-size: size(10);
				}
				&__area {
					font-size: size(12);
					line-height: 120%;
				}
			}
			&-bottom {
				&__metre {
					font-size: size(11);
					line-height: 120%;
				}
				&__price {
					margin-top: size(2);
					font-size: size(15);
					line-height: 120%;
				}
				&__title {
					font-size: size(12);
					line-height: 120%;
				}
			}
		}
	}
}

@media screen and(min-width: 991px) {
	.flat {
		&__header {
			margin-bottom: size(25);
			&-title {
				font-size: size(24);
			}
			&-link {
				margin-bottom: size(2);
				font-size: size(16);
			}
		}
		&__info {
			&-top {
				width: size(207);
				top: size(20);
				left: size(22);
				&__title {
					font-size: size(14);
				}
				&__street {
					font-size: size(12);
				}
				&__price {
					font-size: size(20);
				}
				&__size {
					margin-top: size(5);
					font-size: size(12);
					line-height: 120%;
				}
				&__area {
					margin-top: size(5);
					font-size: size(14);
				}
			}
			&-bottom {
				padding: size(20) size(22);
				&__metre {
					font-size: size(13);
				}
				&__price {
					margin-top: size(3);
					font-size: size(16);
				}
				&__title {
					max-width: size(285);
					font-size: size(14);
					font-weight: 400;
				}
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.flat {
		margin-top: size(60);
		&__header {
			padding: 0 size(25);
			max-width: size(1690);
			margin: 0 auto;
			margin-bottom: size(30);
			&::before {
				display: none;
				left: size(25);
    			right: size(25);
			}
			&--line {
				padding-top: size(40);
				&::before {
					display: block;
				}
			}
			&-title {
				margin-right: size(30);
				font-size: size(28);
				font-weight: 500;
			}
			&-link {
				margin-bottom: size(4);
				font-size: size(16);
			}
		}
		&__btns {
			display: flex;
		}
		&__info {
			&-top {
				width: size(250);
				top: size(22);
				left: size(24);
				&__title {
					font-size: size(17);
				}
				&__street {
					font-size: size(13);
					br {
						display: none;
					}
				}
				&__price {
					font-size: size(24);
				}
				&__size {
					font-size: size(15);
				}
				&__area {
					font-size: size(16);
				}
			}
			&-bottom {
				padding: size(22) size(24);
				&__metre {
					font-size: size(14);
				}
				&__price {
					font-size: size(17);
				}
				&__title {
					max-width: size(425);
					font-size: size(18);
					font-weight: 350;
				}
				&__inner {
					display: block;
					margin-top: size(10);
				}
				&__text {
					font-size: size(13);
					line-height: size(16);
					opacity: 0.7;
					&-hidden {
						display: none;
					}
				}
				&__links {
					opacity: 0;
					visibility: hidden;
					max-height: 0;
					transition: $transition;
				}
				&__order {
					display: inline-block;
					min-width: size(180);
					margin-right: size(30);
					padding: size(10);
					font-weight: bold;
					font-size: size(12);
					line-height: size(18);
					text-align: center;
					text-transform: uppercase;
					color: #fff;
					letter-spacing: 0.03rem;
					background: #000;
					border: size(2) solid #E5E5E5;
					transition: $transition;
					&:hover,
					&:focus {
						background: $brown;
						border-color: $brown;
					}
				}
				&__more {
					display: inline-block;
					font-weight: 350;
					font-size: size(12);
					line-height: size(14);
					letter-spacing: 0.1rem;
					color: #fff;
					position: relative;
					&::after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						height: size(1);
						background: #fff;
					}
					&:hover,
					&:focus {
						&::after {
							display: none;
						}
					}
				}
			}
		}
		&__swiper {
			padding: 0;
		}
		&__item {
			width: calc(50% - 0.125rem);
			max-width: size(955);
			&:hover,
			&:focus {
				.flat__info-bottom__links {
					margin-top: size(25);
					opacity: 1;
					visibility: visible;
					max-height: size(300);
				}
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.flat {
		&__header {
			margin-bottom: size(45);
			&--line {
				margin-bottom: size(70);
			}
			&-title {
				margin-right: size(38);
				font-size: size(40);
			}
			&-link {
				margin-bottom: size(6);
				font-size: size(18);
			}
		}
		&__info {
			&-top {
				width: size(298);
				top: size(24);
				left: size(26);
				&__title {
					font-size: size(20);
					font-weight: 350;
				}
				&__street {
					font-size: size(14);
				}
				&__price {
					font-size: size(30);
				}
				&__size {
					font-size: size(17);
					font-weight: 350;
				}
				&__area {
					font-size: size(20);
				}
			}
			&-bottom {
				padding: size(24) size(26);
				&__metre {
					font-size: size(15);
				}
				&__price {
					font-size: size(20);
				}
				&__text {
					font-size: size(15);
					line-height: size(19);
				}
				&__title {
					max-width: size(515);
					font-size: size(22);
				}
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.flat {
		margin-top: size(100);
		&__header {
			&--line {
				padding-top: size(60);
				&::before {
					display: block;
				}
			}
		}
		&__info {
			&-top {
				width: size(325);
				&__title {
					font-size: size(22);
				}
				&__street {
					font-size: size(15);
				}
				&__price {
					font-size: size(36);
				}
				&__size {
					font-size: size(18);
				}
				&__area {
					font-size: size(22);
				}
			}
			&-bottom {
				&__metre {
					font-size: size(16);
				}
				&__price {
					font-size: size(22);
				}
				&__title {
					max-width: size(565);
					font-size: size(24);
				}
			}
		}
	}
}

@media screen and(min-width: 1600px) {
	.flat {
		&__info {
			&-top {
				width: size(355);
			    top: size(32);
				left: size(39);
				&__title {
					font-size: size(24);
				}
				&__street {
					margin-top: size(11);
					font-size: size(16);
				}
				&__price {
					font-size: size(40);
				}
				&__size {
					font-size: size(19);
					line-height: size(21);
				}
				&__area {
					font-size: size(26);
				}
			}
			&-bottom {
				padding: size(40) size(39) size(27);
				&__metre {
					font-size: size(18);
				}
				&__price {
					margin-top: size(10);
					font-size: size(23);
				}
				&__title {
					max-width: size(610);
					font-size: size(26);
				}
			}
		}
	}
}

@media screen and(min-width: 1920px) {
	.flat {
		&__info {
			&-top {
				width: size(415);
				&__title {
					font-size: size(28);
				}
				&__price {
					font-size: size(44);
				}
			}
			&-bottom {
				&__order {
					min-width: size(262);
					margin-right: size(48);
					padding: size(10);
					font-size: size(14);
					line-height: size(25);
				}
				&__more {
					font-size: size(14);
					line-height: size(18);
				}
				&__title {
					max-width: size(660);
					font-size: size(28);
					line-height: size(30);
				}
			}
		}
		&__item {
			&:hover,
			&:focus {
				.flat__info-bottom__text-hidden {
					display: inline;
				}
			}
		}
	}
}

@media screen and(min-width: 1921px) {
	.flat {
		&__swiper {
			padding-left: calc((100% - 102.5rem) / 2);
		}
	}
}