.footer {
	margin-top: size(33);
	text-align: center;
	&__inner {
		padding: size(33) 0 size(20);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: size(10);
			right: size(10);
			height: size(1);
			background: #303030;
		}
	}
	&__logo {
		width: size(201);
		height: size(65);
		img {
			width: 100%;
		}
	}
	&__list {
		margin-top: size(30);
		text-transform: uppercase;
		font-size: size(11);
		line-height: size(14);
		color: #4E4E4E;
		display: flex;
		flex-direction: column;
		align-items: center;
		li {
			margin-bottom: size(9);
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			transition: $transition;
			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}
	&__address {
		margin-top: size(27);
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__tel {
		font-weight: 400;
		font-size: size(21);
		line-height: size(27);
		transition: all .3s ease;
		&:hover,
		&:focus {
			transform: scale(1.15);
		}
	}
	&__street {
		margin-top: size(6);
		font-size: size(10);
		line-height: size(14);
		letter-spacing: 0.02rem;
		color: #9A9A9A;
	}
	&__copy {
		margin-top: size(28);
		font-size: size(10);
		line-height: 143%;
		color: #393939;
	}
}

@media screen and(min-width: 768px) {
	.footer {
		&__inner {
			&::before {
				left: size(15);
				right: size(15);
			}
		}
		&__logo {
			width: size(329);
			height: size(106);
		}
		&__street {
			br {
				display: none; 
			}
		}
		&__copy {
			br {
				display: none;
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.footer {
		margin-top: size(60);
		&__inner {
			padding: size(63) 0 size(50);
			&::before {
				left: size(25);
				right: size(25);
			}
		}
		&__list {
			flex-direction: row;
			font-size: size(13);
			line-height: size(17);
			li {
				margin-bottom: size(20);
				margin-right: size(47);
				&:last-child {
					margin-bottom: size(20);
					margin-right: 0;
				}
			}
		}
		&__tel {
			font-size: size(25);
			line-height: size(32);
		}
		&__street {
			font-size: size(14);
			line-height: size(18);
		}
		&__copy {
			font-size: size(14);
			line-height: size(18);
		}
	}
}

@media screen and(min-width: 1920px) {
	.footer {
		margin-top: size(100);
		&__list {
			margin-top: size(50);
		}
		&__copy {
			margin-top: size(42);
		}
	}
}