.header {
	min-height: 250px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&::after {	
		content: '';
		position: absolute;
		z-index: 0;
		top: 1px;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80.73%, #000000 100%, rgba(0, 0, 0, 0) 100%), 
				linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.6);
	}
	&__inner {
		position: relative;
		z-index: 1;
	}
	&__top {
		min-height: 113px;
		padding: 24px 20px 17px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 10px;
			right: 10px;
			height: 1px;
			background: rgba(255, 255, 255, 0.3);
		}
		&-left {
			display: flex;
			align-items: center;
		}
		&-rate {
			margin-left: 30px;
			display: none;
		}
	}
	&__logo {
		width: 201px;
		height: 65px;
		position: absolute;
		top: 27px;
		left: 50%;
		transform: translateX(-50%);
		img {
			width: 100%;
		}
	}
	&__toggle {
		display: inline-block;
		height: 17px;
		&-btn {
			display: inline-block;
			width: 22px;
			height: 17px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				top: 0;
				left: 0;
				background: #FFFFFF;
				border-radius: 3px;
				box-shadow: 0 8px #fff, 0 16px #fff;
			}
		}
		&-menu {
			display: none;
			font-weight: 500;
			font-size: 13px;
			line-height: 17px;
		}
	}
	&__tel {
		margin-left: auto;
		display: none;
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		transition: all .3s ease;
		&:hover,
		&:focus {
			transform: scale(1.1);
		}
	}
	&__search {
		&-btn {
			display: inline-block;
			width: 20px;
			height: 20px;
		}
	}
	&__bottom {
		&-realty {
			display: none;
			margin-top: 27px;
			justify-content: center;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 13px;
			line-height: 17px;
			li {
				margin-right: 47px;
				margin-bottom: 20px;
				&:last-child {
					margin-right: 0;
				}
			}
			a {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0;
					height: 1px;
					background: #fff;
					transition: all .3s ease;
				}
				&:hover,
				&:focus {
					&::after {
						right: auto;
						left: 0;
						width: 100%;
					}
				}
			}
		}
		&-text {
			max-width: 287px;
			margin: 0 auto;
			margin-top: 40px;
			padding: 0 10px;
			font-size: 11px;
			line-height: 17px;
			text-align: center;
			&__hidden {
				display: none;
			}
		}
		&-more {
			min-width: 202px;
			margin-top: 62px;
			padding: 9px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			display: inline-block;
			text-align: center;
			border: 1px solid #B5A798;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 11px;
			line-height: 19px;
			span {
				display: none;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.header {
		min-height: 280px;
		&__top {
			&-rate {
				display: flex;
				margin-left: 30px;
			}
		}
		&__bottom {
			&-text {
				max-width: 640px;
				font-size: 14px;
				line-height: 130%;
			}
			&-more {
				margin-bottom: 60px;
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.header {
		min-height: 350px;
		&__top {
			padding: 25px;
			min-height: 160px;
			&-rate {
				margin-left: 44px;
			}
		}
		&__toggle {
			display: flex;
			align-items: center;
			&-menu {
				display: block;
				margin-left: 16px;
			}
		}
		&__logo {
			margin-top: 0;
		    width: 329px;
			height: 106px;
		}
		&__bottom {
			&-realty {
				display: flex;
			}
			&-text {
				font-size: 16px;
				line-height: 25px;
				&__hidden {
					display: inline;
				}
			}
			&-more {
				margin-top: 43px;
				min-width: 262px;
				padding: 14px;
				font-size: 12px;
				span {
					display: inline;
				}
			}
		}
		&__search {
			display: none;
		}
		&__tel {
			display: inline-block;
		}
	}
}

@media screen and(min-width: 1440px) {
	.header {
		min-height: 417px;
		&__top {
			padding: 31px 38px;
		}
		&__bottom {
			&-text {
				max-width: 920px;
				margin-top: 15px;	
			}
		}
	}
}

