.header {
	min-height: 250px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&-index {
		height: 1px;
		min-height: 476px;
		&__top {
			padding: 24px 20px 26px;
		}
		.main-title {
			margin-top: 32px;
			br {
				display: inline;
			}
		}
	}
	&-about {
		background-image: url('../../images/about/header-bg.jpg');
	}
	&-builder {
		background-image: url('../../images/builder/header-bg.jpg');
	}
	&-cardjk {
		background-image: url('../../images/cardjk/header-bg.jpg');
		.breadcrumbs {
			display: block;
		}
	}
	&-cardobj {
		background-image: url('../../images/cardobj/header-bg.jpg');
		.breadcrumbs {
			display: block;
		}
	}
	&-city {
		background-image: url('../../images/city/header-bg.jpg');
	}
	&-contacts {
		background-image: url('../../images/contacts/header-bg.jpg');
	}
	&-news {
		background-image: url('../../images/news/header-bg.jpg');
	}
	&-owner {
		background-image: url('../../images/owner/header-bg.jpg');
	}
	&-partners {
		background-image: url('../../images/partners/header-bg.jpg');
	}
	&-services {
		background-image: url('../../images/services/header-bg.jpg');
	}
	&::after {	
		content: '';
		position: absolute;
		z-index: 0;
		top: 1px;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80.73%, #000000 100%, rgba(0, 0, 0, 0) 100%), 
		linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.6);
	}
	&__swiper {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.main-title {
			margin-top: 0;
		}
		&-info {
			width: 100%;
			min-height: 275px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			z-index: 5;
			bottom: 70px;
		}
		&-text {
			max-width: 287px;
			margin: 0 auto;
			margin-bottom: 10px;
			margin-top: 40px;
			padding: 0 10px;
			font-size: 11px;
			line-height: 17px;
			text-align: center;
			&__hidden {
				display: none;
			}
		}
		&-more {
			min-width: 202px;
			margin-top: auto;
			padding: 9px;
			position: relative;
			display: inline-block;
			text-align: center;
			border: 1px solid #B5A798;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 11px;
			line-height: 19px;
			transition: $transition;
			span {
				display: none;
			}
			&:hover,
			&:focus {
				background: #fff;
				color: #000;
			}
		}
		&-btns {
			position: relative;
			bottom: 30px;
			width: 90px;
			height: 20px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			.swiper {
				&-button {
					&-prev {
						position: static;
						width: 30px;
						height: 20px;
						&::after {
							content: '';
							position: absolute;
							width: 30px;
							height: 20px;
							background-image: url('../../images/icons/swiper-prev.svg');
							background-size: cover;
							background-repeat: no-repeat;
							font-size: 0;
						}
					}
					&-next {
						position: static;
						width: 30px;
						height: 20px;
						&::after {
							content: '';
							position: absolute;
							width: 30px;
							height: 20px;
							background-image: url('../../images/icons/swiper-prev.svg');
							background-size: cover;
							background-repeat: no-repeat;
							transform: rotate(180deg);
						}
					}
				}
			}
		}
		.swiper {
			&-slide {
				box-sizing: border-box;
				position: relative;
				z-index: -5;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				&::after {	
					content: '';
					position: absolute;
					z-index: 0;
					top: 1px;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80.73%, #000000 100%, rgba(0, 0, 0, 0) 100%), 
					linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.6);
				}
			}
		}
	}
	&__inner {
		position: relative;
		z-index: 1;
		height: 100%;
	}
	&__top {
		min-height: 113px;
		padding: 24px 20px 17px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		z-index: 5;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 10px;
			right: 10px;
			height: 1px;
			background: rgba(255, 255, 255, 0.3);
		}
		&-left {
			display: flex;
			align-items: center;
		}
		&-rate {
			&.rate {
				margin-left: 30px;
				display: none;
			}
		}
	}
	&__logo {
		width: 201px;
		height: 65px;
		position: absolute;
		top: 27px;
		left: 50%;
		transform: translateX(-50%);
		img {
			width: 100%;
		}
	}
	&__toggle {
		display: inline-block;
		height: 17px;
		&-btn {
			display: inline-block;
			width: 22px;
			height: 17px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				top: 0;
				left: 0;
				background: #FFFFFF;
				border-radius: 3px;
				box-shadow: 0 8px #fff, 0 16px #fff;
			}
		}
		&-menu {
			display: none;
			font-weight: 500;
			font-size: 13px;
			line-height: 17px;
		}
	}
	&__tel {
		margin-left: auto;
		display: none;
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		transition: all .3s ease;
		&:hover,
		&:focus {
			transform: scale(1.1);
		}
	}
	&__search {
		&-btn {
			display: inline-block;
			width: 20px;
			height: 20px;
		}
	}
	&__bottom {
		position: relative;
		z-index: 5;
		&-realty {
			display: none;
			margin-top: 27px;
			justify-content: center;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 13px;
			line-height: 17px;
			li {
				margin-right: 47px;
				margin-bottom: 20px;
				&:last-child {
					margin-right: 0;
				}
			}
			a {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0;
					height: 1px;
					background: #fff;
					transition: all .3s ease;
				}
				&:hover,
				&:focus {
					&::after {
						right: auto;
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.header {
		min-height: 280px;
		&-index {
			min-height: 550px;
		}
		&-cardjk {
			min-height: 310px;
			.main-title {
				br {
					display: inline;
				}
			}
		}
		&__top {
			&-rate {
				&.rate {
					display: flex;
					margin-left: 30px;
				}
			}
		}
		&__swiper {
			&-text {
				max-width: 640px;
				font-size: 14px;
				line-height: 130%;
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.header {
		min-height: 350px;
		&-index {
			min-height: 800px;
		}
		&-cardobj {
			.breadcrumbs {
				margin-top: 10px;
			}
		}
		&__top {
			padding: 25px;
			min-height: 160px;
			&-rate {
				&.rate {
					margin-left: 44px;
				}
			}
		}
		&__toggle {
			display: flex;
			align-items: center;
			&-menu {
				display: block;
				margin-left: 16px;
			}
		}
		&__logo {
			margin-top: 0;
			width: 329px;
			height: 106px;
		}
		&__bottom {
			&-realty {
				display: flex;
			}
		}
		&__search {
			display: none;
		}
		&__tel {
			display: inline-block;
		}
		&__swiper {
			&-text {
				font-size: 16px;
				line-height: 25px;
				&__hidden {
					display: inline;
				}
			}
			&-more {
				margin-top: 43px;
				min-width: 262px;
				padding: 14px;
				font-size: 12px;
				span {
					display: inline;
				}
			}
			&-btns {
				width: 120px;
				height: 27px;
				.swiper {
					&-button {
						&-prev {
							width: 40px;
							height: 27px;
							&::after {
								width: 40px;
								height: 27px;
							}
						}
						&-next {
							width: 40px;
							height: 27px;
							&::after {
								width: 40px;
								height: 27px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.header {
		min-height: 417px;
		&-index {
			min-height: 900px;
			.main-title {
				font-size: 83px;
				line-height: 100px;
			}
		}
		&-cardjk {
			.main-title {
				margin-top: 28px;
				line-height: 72px;
			}
			.breadcrumbs {
				position: relative;
				bottom: -6px;
			}
		}
		&__top {
			padding: 31px 38px;
		}
		&__swiper {
			&-info {
				bottom: 150px;
			}
			&-text {
				max-width: 920px;
				margin-top: 15px;	
			}
		}
	}
}

@media screen and(min-width: 1700px) {
	.header {
		&__top {
			&::after {
				width: 1640px;
				right: auto;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
