.header {
	min-height: size(250);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&-index {
		height: size(1);
		min-height: size(476);
		&__top {
			padding: size(24) size(20) size(26);
		}
		.main-title {
			margin-top: size(32);
			br {
				display: inline;
			}
		}
	}
	&-about {
		background-image: url('../../images/about/header-bg.jpg');
	}
	&-builder {
		background-image: url('../../images/builder/header-bg.jpg');
	}
	&-cardjk {
		background-image: url('../../images/cardjk/header-bg.jpg');
		.breadcrumbs {
			display: block;
		}
	}
	&-cardobj {
		background-image: url('../../images/cardobj/header-bg.jpg');
		.breadcrumbs {
			display: block;
		}
	}
	&-city {
		background-image: url('../../images/city/header-bg.jpg');
	}
	&-contacts {
		background-image: url('../../images/contacts/header-bg.jpg');
	}
	&-news {
		background-image: url('../../images/news/header-bg.jpg');
	}
	&-owner {
		background-image: url('../../images/owner/header-bg.jpg');
	}
	&-partners {
		background-image: url('../../images/partners/header-bg.jpg');
	}
	&-services {
		background-image: url('../../images/services/header-bg.jpg');
	}
	&::after {	
		content: '';
		position: absolute;
		z-index: 0;
		top: size(1);
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80.73%, #000000 100%, rgba(0, 0, 0, 0) 100%), 
		linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.6);
	}
	&__swiper {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.main-title {
			margin-top: 0;
		}
		&-info {
			width: 100%;
			min-height: size(275);
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			z-index: 5;
			bottom: size(70);
		}
		&-text {
			max-width: size(287);
			margin: 0 auto;
			margin-bottom: size(10);
			margin-top: size(40);
			padding: 0 size(10);
			font-size: size(11);
			line-height: size(17);
			text-align: center;
			&__hidden {
				display: none;
			}
		}
		&-more {
			min-width: size(202);
			margin-top: auto;
			padding: size(9);
			position: relative;
			display: inline-block;
			text-align: center;
			border: size(1) solid #B5A798;
			text-transform: uppercase;
			font-weight: bold;
			font-size: size(11);
			line-height: size(19);
			transition: $transition;
			span {
				display: none;
			}
			&:hover,
			&:focus {
				background: #fff;
				color: #000;
			}
		}
		&-btns {
			position: relative;
			bottom: size(30);
			width: size(90);
			height: size(20);
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			.swiper {
				&-button {
					&-prev {
						position: static;
						width: size(30);
						height: size(20);
						&::after {
							content: '';
							position: absolute;
							width: size(30);
							height: size(20);
							background-image: url('../../images/icons/swiper-prev.svg');
							background-size: cover;
							background-repeat: no-repeat;
							font-size: 0;
						}
					}
					&-next {
						position: static;
						width: size(30);
						height: size(20);
						&::after {
							content: '';
							position: absolute;
							width: size(30);
							height: size(20);
							background-image: url('../../images/icons/swiper-prev.svg');
							background-size: cover;
							background-repeat: no-repeat;
							transform: rotate(180deg);
						}
					}
				}
			}
		}
		.swiper {
			&-slide {
				box-sizing: border-box;
				position: relative;
				z-index: -5;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				&::after {	
					content: '';
					position: absolute;
					z-index: 0;
					top: size(1);
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80.73%, #000000 100%, rgba(0, 0, 0, 0) 100%), 
					linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.6);
				}
			}
		}
	}
	&__inner {
		position: relative;
		z-index: 1;
		height: 100%;
	}
	&__top {
		min-height: size(113);
		padding: size(24) size(20) size(17);
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		z-index: 5;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: size(10);
			right: size(10);
			height: size(1);
			background: rgba(255, 255, 255, 0.3);
		}
		&-left {
			display: flex;
			align-items: center;
		}
		&-rate {
			&.rate {
				margin-left: size(30);
				display: none;
			}
		}
	}
	&__logo {
		width: size(201);
		height: size(65);
		position: absolute;
		top: size(27);
		left: 50%;
		transform: translateX(-50%);
		img {
			width: 100%;
		}
	}
	&__toggle {
		display: inline-block;
		height: size(17);
		&-btn {
			display: inline-block;
			width: size(22);
			height: size(17);
			position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: size(1);
				top: 0;
				left: 0;
				background: #FFFFFF;
				border-radius: size(3);
				box-shadow: 0 size(8) #fff, 0 size(16) #fff;
			}
		}
		&-menu {
			display: none;
			font-weight: 500;
			font-size: size(13);
			line-height: size(17);
		}
	}
	&__tel {
		margin-left: auto;
		display: none;
		font-weight: 500;
		font-size: size(18);
		line-height: size(23);
		transition: all .3s ease;
		&:hover,
		&:focus {
			transform: scale(1.1);
		}
	}
	&__search {
		&-btn {
			display: inline-block;
			width: size(20);
			height: size(20);
		}
	}
	&__bottom {
		position: relative;
		z-index: 5;
		&-realty {
			display: none;
			margin-top: size(27);
			justify-content: center;
			text-transform: uppercase;
			font-weight: 500;
			font-size: size(13);
			line-height: size(17);
			li {
				margin-right: size(47);
				margin-bottom: size(20);
				&:last-child {
					margin-right: 0;
				}
			}
			a {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0;
					height: size(1);
					background: #fff;
					transition: all .3s ease;
				}
				&:hover,
				&:focus {
					&::after {
						right: auto;
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.header {
		min-height: size(280);
		&-index {
			min-height: size(550);
		}
		&-cardjk {
			min-height: size(310);
			.main-title {
				br {
					display: inline;
				}
			}
		}
		&__top {
			&-rate {
				&.rate {
					display: flex;
					margin-left: size(30);
				}
			}
		}
		&__swiper {
			&-text {
				max-width: size(640);
				font-size: size(14);
				line-height: 130%;
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.header {
		min-height: size(350);
		&-index {
			min-height: size(800);
		}
		&-cardobj {
			.breadcrumbs {
				margin-top: size(10);
			}
		}
		&__top {
			padding: size(25);
			min-height: size(160);
			&-rate {
				&.rate {
					margin-left: size(44);
				}
			}
		}
		&__toggle {
			display: flex;
			align-items: center;
			&-menu {
				display: block;
				margin-left: size(16);
			}
		}
		&__logo {
			margin-top: 0;
			width: size(329);
			height: size(106);
		}
		&__bottom {
			&-realty {
				display: flex;
			}
		}
		&__search {
			display: none;
		}
		&__tel {
			display: inline-block;
		}
		&__swiper {
			&-text {
				font-size: size(16);
				line-height: size(25);
				&__hidden {
					display: inline;
				}
			}
			&-more {
				margin-top: size(43);
				min-width: size(262);
				padding: size(14);
				font-size: size(12);
				span {
					display: inline;
				}
			}
			&-btns {
				width: size(120);
				height: size(27);
				.swiper {
					&-button {
						&-prev {
							width: size(40);
							height: size(27);
							&::after {
								width: size(40);
								height: size(27);
							}
						}
						&-next {
							width: size(40);
							height: size(27);
							&::after {
								width: size(40);
								height: size(27);
							}
						}
					}
				}
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.header {
		min-height: size(417);
		&-index {
			min-height: size(900);
			.main-title {
				font-size: size(83);
				line-height: size(100);
			}
		}
		&-cardjk {
			.main-title {
				margin-top: size(28);
				line-height: size(72);
			}
			.breadcrumbs {
				position: relative;
				bottom: size(-6);
			}
		}
		&__top {
			padding: size(31) size(38);
		}
		&__swiper {
			&-info {
				bottom: size(150);
			}
			&-text {
				max-width: size(920);
				margin-top: size(15);	
			}
		}
	}
}

@media screen and(min-width: 1700px) {
	.header {
		&__top {
			&::after {
				width: size(1640);
				right: auto;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
