.home {
	margin-top: size(30);
	&__header {
		font-weight: 500;
		&-street {
			font-size: size(11);
			line-height: size(30);
			letter-spacing: 0.1rem;
		}
		&-link {
			display: inline-block;
			font-size: size(11);
			line-height: 120%;
			letter-spacing: 0.1rem;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: size(1);
				background: #fff;
			}
			&:hover,
			&:focus {
				&::after {
					display: none;
				}
			}
		}
	}
	&__title {
		font-weight: 500;
		font-size: size(18);
		line-height: 120%;
		span {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				right: 0;
				left: 0;
				bottom: 0;
				height: size(1);
				background: #fff;
			}
		}
	}
	&__inner {
		margin-top: size(15);
	}
	&__img {
		max-width: size(789);
	}
	&__text {
		margin: size(13) 0 size(11);
		font-weight: 350;
		font-size: size(11);
		line-height: size(16);
	}
	&__btn {
		margin-top: size(18);
		padding: size(7);
	}
}

@media screen and(min-width: 768px) {
	.home {
		margin-top: size(40);
		&__title {
			font-size: size(20);
			line-height: 120%;
		}
		&__header {
			&-info {
				margin-top: size(10);
				display: flex;
				align-items: center;
			}
			&-street {
				font-size: size(16);
			}
			&-link {
				margin-left: size(30);
				font-size: size(16);
			}
		}
		&__text {
			font-size: size(14);
			line-height: 130%;
		}
		&__btn {
			min-width: size(300);
		}
	}
}

@media screen and(min-width: 991px) {
	.home {
		&__title {
			font-size: size(24);
		}
	}
}

@media screen and(min-width: 1280px) {
	.home {
		margin-top: size(100);
		&__title {
			font-size: size(40);
		}
		&__inner {
			margin-top: size(20);
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
		}
		&__info {
			width: calc(100% - 51.188rem);
			min-height: size(443);
			display: flex;
			flex-direction: column;
		}
		&__text {
			margin-top: 0;
			font-size: size(16);
			line-height: size(26);
			letter-spacing: 0.1rem;
		}
		&__property {
			margin-top: size(30);
			margin-bottom: auto;
		}
		&__btn {
			max-width: size(480);
			min-height: size(60);
			line-height: size(45);
			font-size: size(20);
			letter-spacing: 0.1rem;
		}
	}
}

@media screen and(min-width: 1440px) {
	.home {
		&__header {
			&-info {
				margin-top: size(36);
			}
			&-link {
				margin-left: size(60);
			}
		}
		&__inner {
			margin-top: size(25);
		}
		&__info {
			width: calc(100% - 53.75rem);
		}
	}
}