.house {
	margin-top: size(30);
	&__header {
		padding-top: size(30);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: size(10);
			right: size(10);
			top: 0;
			height: size(1);
			background: #303030;
		}
		&-title {
			font-weight: 300;
			font-size: size(16);
			line-height: size(17); 
		}
		&-link {
			font-weight: 350;
			font-size: size(12);
			line-height: 120%;
			color: #808080;
			position: relative;
			&:hover,
			&:focus {
				color: #fff;
				&::after {
					display: none;
				}
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: size(1);
				background: #808080;
			}
		}
	}
	&__btns {
		margin-left: auto;
		display: none;
		.swiper {
			&-button {
				&-prev {
					width: size(40);
					height: size(27);
					position: static;
					transform: rotate(180deg);
					&::after {
						width: size(40);
						height: size(27);
						content: url('../../images/icons/swiper-btn.svg');
						font-size: 0;
					}
				}
				&-next {
					margin-left: size(40);
					width: size(40);
					height: size(27);
					position: static;
					&::after {
						width: size(40);
						height: size(27);
						content: url('../../images/icons/swiper-btn.svg');
						font-size: 0;
					}
				}
			}
		}
	}
	&__swiper {
		padding-left: size(10);
		margin-top: size(10);
	}
	&__slide {
		width: 96%;
		max-width: size(630);
		overflow: hidden;
		position: relative;
		box-sizing: border-box;
		img {
			width: 100%;
			height: auto;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(300.28deg, rgba(0, 0, 0, 0) 46.04%, rgba(0, 0, 0, 0.69) 78.3%);
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
		}
	}
	&__info {
		&-top {
			padding: size(16) size(18);
			position: absolute;
			z-index: 10;
			left: 0;
			top: 0;
			width: 100%;
			&__price {
				font-weight: bold;
				font-size: size(14);
				line-height: size(14);
			}
			&__size {
				font-weight: 400;
				font-size: size(9);
				line-height: size(14);
			}
			&__metre {
				font-weight: 500;
				font-size: size(11);
				line-height: size(14);
			}
		}
		&-bottom {
			padding: size(10) size(18);
			position: absolute;
			z-index: 10;
			bottom: 0;
			left: 0;
			width: 100%;
		    background: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(size(5));
			a {
				display: inline-block;
			}
			&__title {
				display: inline-block;
				max-width: size(233);
				font-weight: 500;
				font-size: size(11);
				line-height: size(15);
				text-transform: uppercase;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.house {
		&__header {
			margin-bottom: size(20);
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			&::before {
				left: size(15);
				right: size(15);
			}
			&-title {
				margin-right: size(20);
				font-size: size(20);
				line-height: 120%;
			}
			&-link {
				margin-bottom: size(3);
				font-size: size(14);
			}
		}
		&__swiper {
			padding-left: size(15);
		}
		&__info {
			&-top {
				padding: size(20) size(22);
				&__price {
					font-size: size(18);
					line-height: 120%;
				}
				&__size {
					margin-top: size(5);
					font-size: size(11);
					line-height: 120%;
				}
				&__metre {
					margin-top: size(5);
					font-size: size(11);
					line-height: 120%;
				}
			}
			&-bottom {
				padding: size(20) size(22);
				&__title {
					max-width: size(310);
					font-size: size(13);
					line-height: 120%;
				}
			}
		}
	}
}

@media screen and(min-width: 991px) {
	.house {
		&__header {
			margin-bottom: size(25);
			&-title {
				font-size: size(24);
			}
			&-link {
				margin-bottom: size(2);
				font-size: size(16);
			}
		}
		&__info {
			&-top {
				padding: size(22) size(24);
				&__price {
					font-size: size(22);
				}
				&__size {
					font-size: size(13);
				}
				&__metre {
					font-size: size(13);
				}
			}
			&-bottom {
				padding: size(22) size(20);
				&__title {
					max-width: size(355);
					font-size: size(15);
				}
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.house {
		margin-top: size(60);
		&__header {
			padding-top: 0;
			margin-bottom: size(30);
			&::before {
				display: none;
				left: size(25);
    			right: size(25);
			}
			&--line {
				padding-top: size(40);
				&::before {
					display: block;
				}
			}
			&-title {
				margin-right: size(30);
				font-size: size(28);
				font-weight: 500;
			}
			&-link {
				margin-bottom: size(4);
				font-size: size(16);
			}
		}
		&__btns {
			display: flex;
		}
		&__swiper {
			padding-left: size(25);
		}
		&__info {
			&-top {
				&__price {
					font-size: size(26);
				}
				&__size {
					font-size: size(15);
				}
				&__metre {
					font-size: size(15);
				}
			}
			&-bottom {
				&__title {
					max-width: size(500);
					font-size: size(18);
					line-height: size(20);
					font-weight: 350;
				}
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.house {
		&__header {
			margin-bottom: size(45);
			&--line {
				margin-bottom: size(70);
			}
			&-title {
				margin-right: size(38);
				font-size: size(40);
			}
			&-link {
				margin-bottom: size(6);
				font-size: size(18);
			}
		}
		&__info {
			&-top {
				padding: size(28) size(26);
				&__price {
					font-size: size(39);
				}
				&__size {
					font-size: size(18);
				}
				&__metre {
					margin-top: size(15);
					font-size: size(18);
				}
			}
			&-bottom {
				padding: size(20) size(22);
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.house {
		margin-top: size(100);
		&__header {
			&--line {
				padding-top: size(60);
				&::before {
					display: block;
				}
			}
		}
	}
}

@media screen and(min-width: 1730px) {
	.house {
		&__swiper {
			padding-left: calc((100% - 102.5rem)/2);
			&--index {
				padding-left: 0;
			}
		}
	}
}

@media screen and(min-width: 1921px) {
	.house {
		&__swiper {
			&--index {
				padding-left: calc((100% - 102.5rem)/2);
			}
		}
	}
}