.info {
	margin-top: -10px;
	font-weight: 350;
	font-size: 11px;
	line-height: 16px;
	&__inner {
		padding-bottom: 55px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 10px;
			right: 10px;
			bottom: 0;
			height: 1px;
			background: #303030;
		} 
	} 
	&__nav {
		max-width: 210px;
		margin: 0 auto;
	}
	&__list {
		margin: 0 auto;
		font-weight: 350;
		font-size: 13px;
		line-height: 17px;
		a {
			display: none;
			&.active {
				display: block;
				padding: 8px 18px;
				padding-right: 30px;
				border: 1px solid #C7C7C7;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					right: 13px;
					top: 50%;
					transform: translateY(-50%);
					width: 11px;
					height: 6px;
					background-image: url('../../images/icons/arrow-down.svg');
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
	}
	&__chapter {
		margin-top: 25px;
		p {
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-title {
			padding-bottom: 7px;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0.1rem;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 30px;
				height: 1px;
				background: #C4C4C4;
			}
		}
		&-text {
			margin-bottom: 30px;
		}
		&-about {
			margin-top: 30px;
			&:first-child {
				margin-top: 0;
			}
			p {
				margin-top: 10px;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.info {
		&__inner {
			&::after {
				left: 15px;
				right: 15px;
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.info {
		margin: 0;
		padding-top: 60px;
		&__inner {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			&::after {
				left: 25px;
				right: 25px;
			}
		}
		&__nav {
			margin: 0;
			min-width: 250px;
			max-width: 250px;
		}
		&__list {
			font-weight: bold;
			font-size: 17px;
			line-height: 30px;
			li {
				margin-bottom: 40px;
			}
			a {
				display: inline-block;
				transition: $transition;
				&.active {
					padding: 0;
					display: inline-block;
					border: none;
					color: $brown;
					&::after {
						display: none;
					}
				}
				&:hover,
				&:focus {
					color: $brown;
				}
			}
		}
		&__chapter {
			width: calc(100% - 280px);
			max-width: 1225px;
			margin-top: 0;
			font-size: 16px;
			line-height: 28px;
			color: #CECECE;
			&-text {
				margin-bottom: 60px;
			}
			&-about {
				margin-top: 60px;
			}
			&-title {
				font-size: 20px;
				line-height: 120%;
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.info {
		padding-top: 120px;
		&__inner {
			padding-bottom: 183px;
		}
		&__list {
			li {
				margin-bottom: 40px;
			}
		}
		&__chapter {
			font-size: 18px;
			line-height: 30px;
			letter-spacing: 0.113rem;
			p {
				margin-bottom: 30px;
			}
			&-text {
				margin-bottom: 80px;
			}
			&-about {
				margin-top: 80px;
				p {
					margin-top: 30px;
				}
			}
			&-title {
				font-size: 24px;
				line-height: 30px;
				letter-spacing: 0.15rem;
				&::after {
					width: 43px;
				}
			}
		}
	}
}