.info {
	margin-top: size(-10);
	font-weight: 350;
	font-size: size(11);
	line-height: size(16);
	&__inner {
		padding-bottom: size(55);
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: size(10);
			right: size(10);
			bottom: 0;
			height: size(1);
			background: #303030;
		} 
	} 
	&__nav {
		max-width: size(210);
		margin: 0 auto;
	}
	&__list {
		margin: 0 auto;
		font-weight: 350;
		font-size: size(13);
		line-height: size(17);
		display: block;
		border: size(1) solid #C7C7C7;
		display: flex;
		flex-direction: column;
		&.active {
			a {
				display: block;
			}
		}
		li.active {
			order: -1;
			a {
				display: block;
				padding-right: size(30);
				position: relative;
				&::after {
					content: '';
					position: absolute;
					right: size(13);
					top: 55%;
					transform: translateY(-50%);
					width: size(11);
					height: size(6);
					background-image: url('../../images/icons/arrow-down.svg');
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
		a {
			padding: size(8) size(18);
			display: none;
		}
	}
	&__chapter {
		margin-top: size(25);
		p {
			margin-bottom: size(12);
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-title {
			padding-bottom: size(7);
			font-weight: 500;
			font-size: size(18);
			line-height: size(24);
			letter-spacing: 0.1rem;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: size(30);
				height: size(1);
				background: #C4C4C4;
			}
		}
		&-text {
			margin-bottom: size(30);
		}
		&-about {
			margin-top: size(30);
			&:first-child {
				margin-top: 0;
			}
			p {
				margin-top: size(10);
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.info {
		&__inner {
			&::after {
				left: size(15);
				right: size(15);
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.info {
		margin: 0;
		padding-top: size(60);
		&__inner {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			&::after {
				left: size(25);
				right: size(25);
			}
		}
		&__nav {
			margin: 0;
			min-width: size(250);
			max-width: size(250);
		}
		&__list {
			font-weight: bold;
			font-size: size(17);
			line-height: size(30);
			border: none;
			li {
				margin-bottom: size(40);
				&.active {
					order: 0;
					a {
						padding: 0;
						display: inline-block;
						border: none;
						color: $brown;
						&::after {
							display: none;
						}
					}
				}
			}
			.info__list-submenu {
				margin-bottom: 0;
				padding-left: size(20);
				font-size: size(14);
				line-height: size(30);
				&--last {
					margin-bottom: size(40);
				}
				a {
					color: rgba(#fff, 0.5);
					font-weight: 400;
				}
				&.active {
					a {
						color: #fff;
						font-weight: 700;
					}
				}
			}
			a {
				padding: 0;
				display: inline-block;
				transition: $transition;
				&:hover,
				&:focus {
					color: $brown;
				}
			}
		}
		&__chapter {
			width: calc(100% - 17.5rem);
			max-width: size(1225);
			margin-top: 0;
			font-size: size(16);
			line-height: size(28);
			color: #CECECE;
			&-text {
				margin-bottom: size(60);
			}
			&-about {
				margin-top: size(60);
			}
			&-title {
				font-size: size(20);
				line-height: 120%;
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.info {
		padding-top: size(120);
		&__inner {
			padding-bottom: size(183);
		}
		&__list {
			li {
				margin-bottom: size(40);
			}
		}
		&__chapter {
			font-size: size(18);
			line-height: size(30);
			letter-spacing: 0.113rem;
			p {
				margin-bottom: size(30);
			}
			&-text {
				margin-bottom: size(80);
			}
			&-about {
				margin-top: size(80);
				p {
					margin-top: size(30);
				}
			}
			&-title {
				font-size: size(24);
				line-height: size(30);
				letter-spacing: 0.15rem;
				&::after {
					width: size(43);
				}
			}
		}
	}
}