.main-title {
	margin-top: size(23);
	padding: 0 size(10);
	font-weight: 350;
	font-size: size(22);
	line-height: size(27);
	text-align: center;
}

@media screen and(min-width: 768px) {
	.main-title {
		font-size: size(40);
		line-height: 120%;
		br {
			display: none;
		}
	}
}

@media screen and(min-width: 1280px) {
	.main-title {
		font-size: size(48);
		line-height: 120%;
		font-weight: 300;
	}
}

@media screen and(min-width: 1440px) {
	.main-title {
		margin-top: size(30);
		font-size: size(63);
		line-height: size(100);
	}
}