.menu {
	background: #000;
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;
	position: fixed;
	z-index: 100;
	top: 0;
	left: -100%;
	transition: left .3s ease;
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	&::-webkit-scrollbar { 
		width: 0; 
		height: 0; 
	}
	&.active {
		left: 0;
	}
	&__inner {
		max-width: size(1584);
		padding: 0 size(22);
		padding-bottom: size(10);
		margin: 0 auto;
	}
	&__top {
		padding: size(22) 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: size(1) solid rgba(#fff, 0.3);
	}
	&__close {
		font-weight: 500;
		font-size: size(13);
		line-height: size(17);
		text-transform: uppercase;
		display: flex;
		align-items: center;
		&-icon {
			display: inline-block;
			margin-right: size(9);
			width: size(22);
			height: size(22);
			position: relative;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: size(10);
				left: 0;
				width: 100%;
				height: size(1);
				background: #fff;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	&__middle {
		margin-top: size(20);
	}
	&__search {
		input {
			width: 100%;
			padding: size(12);
			padding-left: size(40);
			border: size(1) solid rgba(255, 255, 255, 0.3);
			background: transparent;
			font-weight: 300;
			font-size: size(12);
			line-height: size(15);
			color: #fff;
			&::placeholder {
				font-size: size(12);
				line-height: size(15);
			}
		}
		&-label {
			display: block;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: size(12);
				top: 50%;
				transform: translateY(-50%);
				width: size(16);
				height: size(16);
				background-image: url('../../images/icons/search.svg');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	&__manage {
		margin-top: size(22);
	}
	&__nav {
		font-weight: bold;
		font-size: size(13);
		line-height: size(20);
		&-list {
			height: size(144); 
			max-width: size(255);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			li {
				margin-bottom: size(16);
			}
			a {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0;
					height: size(1);
					background: #fff;
					transition: all .3s ease;
				}
				&:hover,
				&:focus {
					&::after {
						right: auto;
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}
	&__user {
		display: none;
		font-weight: bold;
		font-size: size(15);
		line-height: size(30);
		color: $brown;
	}
	&__list {
		margin-top: size(10);
		padding-top: size(28);
		border-top: size(1) solid rgba(255, 255, 255, 0.3);
	}
	&__realty {
		font-weight: 500;
		font-size: size(12);
		line-height: size(15);
		text-transform: uppercase;
		li {
			margin-bottom: size(17);
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 0;
				height: size(1);
				background: #fff;
				transition: all .3s ease;
			}
			&:hover,
			&:focus {
				&::after {
					right: auto;
					left: 0;
					width: 100%;
				}
			}
		}
	}
	&__application {
		margin-top: size(36);
		font-weight: bold;
		font-size: size(12);
		line-height: size(25);
		text-transform: uppercase;
		li {
			margin-bottom: size(7);
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			display: inline-block;
			text-align: center;
			padding: size(7);
			width: 100%;
			border: size(1) solid #B5A798;
			&:hover,
			&:focus {
				background: #fff;
				color: #000;
			}
		}
	}
	&__text {
		margin-top: size(26);
		font-weight: 300;
		font-size: size(12);
		line-height: size(18);
	}
	&__bottom {
		margin-top: size(27);
	}
	&__tel {
		font-weight: 300;
		font-size: size(25);
		line-height: size(32);
		transition: all .3s ease;
		&:hover,
		&:focus {
			transform: scale(1.1);
		}
	}
	&__estate {
		max-width: size(280);
		padding-top: size(38);
		padding-bottom: size(15);
		height: size(215);
		font-size: size(13);
		line-height: size(17);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		&-wrapper {
			margin-top: size(30);
			border-top: size(1) solid rgba(255, 255, 255, 0.3);
		}
		li {
			margin-bottom: size(16);
		}
		a {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 0;
				height: size(1);
				background: #fff;
				transition: all .3s ease;
			}
			&:hover,
			&:focus {
				&::after {
					right: auto;
					left: 0;
					width: 100%;
				}
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.menu {
		&__top {
			border-bottom: 0;
		}
		&__rate {
			display: none;
		}
	}
}

@media screen and(min-width: 1280px) {
	.menu {
		&__middle {
			margin-top: size(50);
		}
		&__search {
			input {
				min-height: size(58);
				padding: size(15);
				padding-left: size(55);
				font-size: size(18);
				line-height: size(26);
				&::placeholder {
					font-size: size(21);
					line-height: size(26);
				}
			}
			&-label {
				&::before {
					width: size(21);
					height: size(21);
					left: size(16);
				}
			}
		}
		&__manage {
			margin-top: size(40);
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&__nav {
			font-size: size(15);
			line-height: size(30);
			&-list {
				max-width: size(1000);
				height: auto;
				flex-direction: row;
				justify-content: flex-start;
				li {
					margin-right: size(30);
				}
			}
		}
		&__user {
			display: block;
			li {
				margin-bottom: size(10);
			}
		}
		&__list {
			padding-top: 0;
			margin-top: size(30);
			display: flex;
			flex-direction: column;
			border-top: 0;
		}
		&__application {
			margin-top: 0;
			order: -1;
			display: flex;
			flex-wrap: wrap;
			li {
				margin-right: size(35);
			}
			a {
				padding: size(12) size(20);
				min-width: size(260);
			}
		}
		&__realty {
			margin-top: size(50);
			font-size: size(16);
			li {
				margin-bottom: size(25);
			}
		}
		&__text {
			margin-top: size(50);
			font-size: size(16);
			line-height: 140%;
		}
		&__estate {
			max-width: 100%;
			padding: 0;
			height: auto;
			flex-direction: row;
			flex-wrap: wrap;
			font-size: size(15);
			line-height: size(19);
			&-wrapper {
				padding: size(30) 0;
			}
			li {
				margin-right: size(20);
			}
		}
		&__bottom {
			margin-top: size(50);
		}
	}
}

@media screen and(min-width: 1440px) {
	.menu {
		&__close {
			&-icon {
				margin-right: size(16);
			}
		}
		&__middle {
			margin-top: size(76);
		}
		&__search {
			input {
				min-height: size(65);
				padding-left: size(72);
				font-size: size(25);
				line-height: size(32);
				&::placeholder {
					font-size: size(25);
					line-height: size(32);
				}
			}
			&-label {
				&::before {
					left: size(24);
				}
			}
		}
		&__manage {
			margin-top: size(58);
		}
		&__nav {
			font-size: size(17);
			line-height: size(30);
			li {
				margin-right: size(50);
			}
			&-list {
				max-width: 1200px;
			}
		}
		&__user {
			font-size: size(17);
			line-height: size(30);
		}
		&__list {
			margin-top: size(50);
		}
		&__application {
			font-size: size(14);
			line-height: size(25);
			a {
				min-width: size(302);
				min-height: size(58);
				padding: size(15) size(20);
			}
		}
		&__realty {
			margin-top: size(75);
			font-size: size(18);
			line-height: size(23);
			li {
				margin-bottom: size(30);
			}
		}
		&__text {
			margin-top: size(180);
			font-size: size(18);
			line-height: size(23);
		}
		&__bottom {
			padding-bottom: size(55);
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			justify-content: space-between;
		}
		&__estate {
			max-width: size(1195);
			&-wrapper {
				padding: 0;
				margin: 0;
				border: none;
			}
			li {
				margin-right: size(30);
			}
		}
		&__tel {
			margin-bottom: size(8);
			order: 1;
			font-weight: 300;
			font-size: size(35);
			line-height: size(45);
		}
	}
}

@media screen and(min-width: 1600px) {
	.menu {
		&__close {
			position: absolute;
			left: size(40);
			top: size(34);
		}
		&__estate {
			li {
				margin-right: size(40);
			}
		}
	}
}

