.news {
	&__date {
		display: block;
		margin: 0;
		margin-bottom: size(2);
		color: $brown;
		line-height: 120%;
	}
	p {
		margin-bottom: size(12);
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		padding-bottom: size(7);
		font-weight: 500;
		font-size: size(18);
		line-height: size(24);
		letter-spacing: 0.1rem;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: size(30);
			height: size(1);
			background: #C4C4C4;
		}
	}
	&__link {
		display: block;
		margin-bottom: size(30);
		&:last-child {
			margin-bottom: 0;
		}
		p {
			margin-top: size(10);
		}
	}
	&__prev {
		display: inline-block;
		padding-left: size(20);
		font-size: size(10);
		line-height: 120%;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: size(2);
			width: size(12);
			height: size(8);
			background-image: url('../../images/icons/prev-arrow.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__item {
		margin: size(20) 0;
		&-link {
			font-weight: 500;
			text-decoration: underline;
		}
		&-info {
			margin: size(20) 0;
		}
		&-descr {
			margin: size(30) 0;
		}
		&-img {
			margin: size(20) 0;
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.news {
		&__date {
			margin-bottom: size(4);
			font-size: size(14);
		}
		&__link {
			margin-bottom: size(60);
		}
		&__title {
			font-size: size(20);
			line-height: 120%;
		}
		&__prev {
			font-size: size(14);
			padding-left: size(30);
			&::before {
				width: size(14);
				height: size(10);
				top: size(3);
			}
		}
		&__item {
			&-img {
				margin: size(30) 0;
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.news {
		&__link {
			margin-bottom: size(80);
			p {
				margin-top: size(20);
			}
		}
		&__date {
			margin-bottom: size(15);
			font-size: size(16);
		}
		&__title {
			font-size: size(24);
			line-height: size(30);
			letter-spacing: 0.15rem;
			&::after {
				width: size(43);
			}
		}
		&__item {
			margin: size(45) 0;
			&-info {
				p {
					margin-bottom: size(30);
				}
			}
			&-descr {
				margin-top: size(60);
			}
			&-img {
				margin: size(50) 0;
			}
		}
		&__prev {
			padding-left: size(45);
			font-size: size(16);
			&::before {
				width: size(17);
				height: size(12);
			}
		}
	}
}