.offer {
	margin-top: size(30);
	font-weight: 300;
	font-size: size(12);
	line-height: size(18);
	&__title {
		font-weight: bold;
		font-size: size(20);
		line-height: size(21);
	}
	&__text {
		margin-top: size(15);
		&-dekstop {
			display: none;
		}
	}
	&__form {
		margin-top: size(15);
		input {
			display: block;
			padding: size(10);
			width: 100%;
			background: transparent;
			border: size(1) solid #969696;
			font-weight: 350;
			font-size: size(14);
			line-height: size(28);
			color: #fff;
			&::placeholder {
				color: $brown;
				text-align: center;
				font-weight: 350;
				font-size: size(14);
				line-height: size(28);
			}
		}
	}
	&__btn {
		margin-top: size(10);
	}
	&__agree {
		margin-top: size(15);
		font-weight: 350;
		font-size: size(10);
		line-height: size(14);
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&-checkbox {
			display: inline-block;
			min-width: size(25);
			height: size(25);
			border: size(1) solid #4E4E4E;
			position: relative;
			svg {
				opacity: 0;
				position: absolute;
				top: size(3);
				left: size(4);
			}
		}
		&-text {
			display: block;
			width: calc(100% - 2.563rem);
			a {
				color: $brown;
			}
		}
		input {
			display: none;
			&:checked ~ .offer__agree-checkbox {
				background: $brown;
				svg {
					opacity: 1;
				}
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.offer {
		&__btns {
			display: flex;
		}
		&__btn {
			margin-top: 0;
			font-size: size(14);
			line-height: size(28);
		}
		&__form {
			input {
				border-right-color: transparent;
			}
		}
	}
}

@media screen and(min-width: 991px) {
	.offer {
		&__inner {
			margin-top: size(20);
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
		}
		&__text {
			width: calc(50% - 0.938rem);
			max-width: size(744);
			margin-top: 0;
		}
		&__form {
			width: calc(50% - 0.938rem);
			max-width: size(810);
			margin-top: 0;
		}
	}
}

@media screen and(min-width: 1280px) {
	.offer {
		margin-top: size(60);
		font-size: size(16);
		line-height: 130%;
		font-weight: 350;
		&__title {
			font-size: size(30);
			line-height: 120%;
		}
		&__form {
			input {
				padding: size(15) size(26);
				font-size: size(16);
				line-height: 130%;
				&::placeholder {
					font-size: size(16);
				}
			}
		}
		&__btn {
			font-size: size(16);
		}
		&__agree {
			margin-top: size(20);
			font-size: size(13);
			line-height: size(25);
		}
		&__text {
			&-dekstop {
				display: inline;
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.offer {
		margin-top: size(100);
		font-size: size(18);
		line-height: size(28);
		&__title {
			font-size: size(55);
			line-height: size(71);
		}
		&__inner {
			margin-top: size(43);
		}
		&__form {
			input {
				font-size: size(18);
				&::placeholder {
					font-size: size(18);
				}
			}
		}
		&__btn {
			min-width: size(253);
			font-size: size(18);
		}
	}
}