.offer {
	margin-top: 30px;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	&__title {
		font-weight: bold;
		font-size: 20px;
		line-height: 21px;
	}
	&__text {
		margin-top: 15px;
		&-dekstop {
			display: none;
		}
	}
	&__form {
		margin-top: 15px;
		input {
			display: block;
			padding: 10px;
			width: 100%;
			background: transparent;
			border: 1px solid #969696;
			font-weight: 350;
			font-size: 14px;
			line-height: 28px;
			color: #fff;
			&::placeholder {
				color: $brown;
				text-align: center;
				font-weight: 350;
				font-size: 14px;
				line-height: 28px;
			}
		}
	}
	&__btn {
		margin-top: 10px;
	}
	&__agree {
		margin-top: 15px;
		font-weight: 350;
		font-size: 10px;
		line-height: 14px;
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&-checkbox {
			display: inline-block;
			min-width: 25px;
			height: 25px;
			border: 1px solid #4E4E4E;
			position: relative;
			svg {
				display: none;
				position: absolute;
				top: 3px;
				left: 4px;
			}
		}
		&-text {
			width: calc(100% - 41px);
			a {
				color: $brown;
			}
		}
		input {
			display: none;
			&:checked ~ .offer__agree-checkbox {
				background: $brown;
				svg {
					display: block;
				}
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.offer {
		&__btns {
			display: flex;
		}
		&__btn {
			margin-top: 0;
			font-size: 14px;
			line-height: 28px;
		}
		&__form {
			input {
				border-right-color: transparent;
			}
		}
	}
}

@media screen and(min-width: 991px) {
	.offer {
		&__inner {
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
		}
		&__text {
			width: calc(50% - 15px);
			max-width: 744px;
			margin-top: 0;
		}
		&__form {
			width: calc(50% - 15px);
			max-width: 810px;
			margin-top: 0;
		}
	}
}

@media screen and(min-width: 1280px) {
	.offer {
		margin-top: 60px;
		font-size: 16px;
		line-height: 130%;
		font-weight: 350;
		&__title {
			font-size: 30px;
			line-height: 120%;
		}
		&__form {
			input {
				padding: 15px 26px;
				font-size: 16px;
				line-height: 130%;
				&::placeholder {
					font-size: 16px;
				}
			}
		}
		&__btn {
			font-size: 16px;
		}
		&__agree {
			margin-top: 20px;
			font-size: 13px;
			line-height: 25px;
		}
		&__text {
			&-dekstop {
				display: inline;
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.offer {
		margin-top: 100px;
		font-size: 18px;
		line-height: 28px;
		&__title {
			font-size: 55px;
			line-height: 71px;
		}
		&__inner {
			margin-top: 43px;
		}
		&__form {
			input {
				font-size: 18px;
				&::placeholder {
					font-size: 18px;
				}
			}
		}
		&__btn {
			min-width: 253px;
			font-size: 18px;
		}
	}
}