.owner {
	&__form {
		max-width: size(395);
		margin-top: size(15);
		font-size: size(12);
		line-height: 120%;
		&-wrapper {
			margin-top: size(30);
			color: #fff;
		}
		&-title {
			font-weight: 300;
			font-size: size(18);
			line-height: 120%;
		}
		&-label {
			display: block;
			width: 100%;
			margin-bottom: size(10);
		}
		&-type {
			display: block;
			margin-bottom: size(10);
			padding: size(12);
			padding-right: size(30);
			width: 100%;
			border: size(1) solid #C7C7C7;
			font-weight: 500;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 48%;
				right: size(15);
				width: size(11);
				height: size(6);
				background-image: url('../../images/icons/arrow-down.svg');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		input, textarea {
			display: block;
			padding: size(12);
			width: 100%;
			color: #fff;
			background-color: transparent;
			border: size(1) solid #C7C7C7;
			&::placeholder {
				color: #fff;
			}
		}
		textarea {
			resize: none;
		}
		&-agree {
			display: block;
			margin-top: size(15);
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;
			&__checkbox {
				display: inline-block;
				min-width: size(23);
				width: size(23);
				height: size(23);
				border: size(1) solid #666666;
				position: relative;
				svg {
					position: absolute;
					top: size(3);
					left: size(3);
					opacity: 0;
				}
			}
			&__text {
				color: #585858;
				width: calc(100% - 2.375rem);
			}
			input {
				display: none;
				&:checked ~ .owner__form-agree__checkbox {
					background: $brown;
					border-color: $brown;
					svg {
						opacity: 1;
					}
				}
			}
		}
		&-btn {
			margin-top: size(15);
			padding: size(5);
		}
	}
}

@media screen and(min-width: 768px) {
	.owner {
		&__form {
			margin-top: size(25);
			&-title {
				font-size: size(22);
				br {
					display: none;
				}
			}
			&-type {
				margin-bottom: size(15);
			}
			&-label {
				margin-bottom: size(15);
			}
			&-agree {
				margin-top: size(20);
			}
			&-btn {
				margin-top: size(20);
				padding: size(10);
				min-width: size(250);
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.owner {
		&__form {
			margin-top: size(30);
			&-wrapper {
				margin-top: size(50);
			}
			&-title {
				font-size: size(30);
			}
			&-type {
				min-height: size(52);
				padding: size(18);
				padding-right: size(30);
				margin-bottom: size(20);
				font-size: size(16);
			}
			&-label {
				margin-bottom: size(20);
			}
			input, textarea {
				min-height: size(52);
				padding: size(16);
				font-size: size(16);
			}
			textarea {
				margin-top: size(30);
			}
			&-agree {
				margin-top: size(30);
			}
			&-btn {
				font-size: size(20);
				margin-top: size(30);
				padding: size(15) size(10);
				min-width: size(367);
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.owner {
		&__form {
			&-title {
				font-size: size(36);
			}
			&-type {
				font-size: size(17);
				margin-bottom: size(27);
			}
			&-label {
				margin-bottom: size(27);
			}
			input, textarea {
				font-size: size(17);
			}
			textarea {
				margin-top: size(30);
			}
			&-agree {
				margin-top: size(30);
			}
			&-btn {
				margin-top: size(30);
			}
		}
	}
}