.pagination {
	margin-top: size(30);
	&__inner {
		max-width: size(320);
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__prev, 
	&__next {
		display: inline-flex;
		min-width: size(36);
		height: size(36);
		border: size(1) solid #fff;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -45%);
			width: size(13);
			height: size(9);
			background-image: url('../../images/icons/pagination-next.svg');
			background-repeat: no-repeat;
			background-size: contain;
		}
		span {
			display: none;
		}
	}
	&__prev {
		&::after {
			background-image: url('../../images/icons/pagination-prev.svg');
		}
	}
	&__list {
		margin: 0 size(6);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		li {
			margin: 0 size(3);
			&.pagination__item-hidden {
				display: none;
			}
		}
		a {
			display: inline-block;
			width: size(36);
			height: size(36);
			line-height: size(36);
			border: size(1) solid #3A3A3A;
			text-align: center;
			font-size: size(12);
			letter-spacing: 0.1rem;
			transition: $transition;
			&:hover,
			&:focus {
				border-color: #fff;
			}
			&.active {
				border-color: #fff;
			}
			&.pagination__etc {
				border: 0;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.pagination {
		&__inner {
			max-width: size(616);
		}
		&__prev, 
		&__next {
			min-width: size(50);
			height: size(50);
			&::after {
				width: size(17);
				height: size(12);
			}
		}
		&__list {
			li {
				&.pagination__item-hidden {
					display: block;
				}
			}
			a {
				width: size(50);
				height: size(50);
				line-height: size(50);
				font-size: size(16);
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.pagination {
		margin-top: size(40);
		&__inner {
			width: 100%;
			max-width: size(1690);
			padding: 0 size(25);
			margin: 0 auto;
			align-items: center;
		}
		&__prev,
		&__next {
			min-width: auto;
			height: auto;
			border: 0;
			span {
				display: inline;
			}
		}
		&__prev {
			padding-left: size(32);
			&::after {
				left: 0;
				top: size(5);
				transform: none;
			}
		}
		&__next {
			padding-right: size(32);
			&::after {
				left: auto;
				right: 0;
				top: size(5);
				transform: none;
			}
		}
	}
}

@media screen and(min-width: 1600px) {
	.pagination {
		margin-top: size(50);
	}
}