.partners {
	&__list {
		margin-top: size(30);
		li {
			width: 100%;
			height: size(100);
			border: size(1) solid #1A1A1A;
			margin-bottom: size(10);
			overflow: hidden;
			&:last-child {
				margin-bottom: 0;
			}
			img {
				width: size(210);
				height: auto;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

@media screen and(min-width: 600px) {
	.partners {
		&__list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			li {
				width: calc(50% - 0.313rem);
				height: size(130);
			}
		}
	}
}

@media screen and(min-width: 991px) {
	.partners {
		&__list {
			justify-content: flex-start;
			li {
				width: calc(33.33% - 0.438rem);
				height: size(150);
				margin-right: size(10);
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.partners {
		&__list {
			margin-top: size(40);
			li {
				width: calc(33.33% - 0.625rem);
				height: size(160);
				margin-right: size(15);
				margin-bottom: size(15);
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.partners {
		&__list {
			margin-top: size(50);
			li {
				width: calc(33.33% - 0.813rem);
				height: size(190);
				margin-right: size(19);
				margin-bottom: size(20);
			}
		}
	}
}