.phone {
	display: flex;
	justify-content: center;
	align-items: center;
	width: size(48);
	height: size(48);
	position: fixed;
	z-index: 50;
	right: size(10);
	bottom: size(10);
	border-radius: 50%;
	background: #000;
	border: size(1) solid #fff;
	&__modal {
		padding: size(10);
		width: 100%;
		background: #000;
		position: fixed;
		z-index: 300;
		left: 0;
		bottom: -110%;
		transition: $transition;
		&.active {
			bottom: 0;
		}
		&-link {
			display: block;
			min-height: size(40);
			padding: size(13) size(10) size(13) size(47);
			margin-bottom: size(12);
			font-size: size(12);
			line-height: size(15);
			letter-spacing: 0.1rem;
			border: size(1) solid #000000;
			position: relative;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-close {
			width: size(55);
			height: size(43);
			background: #000;
			position: absolute;
			right: 0;
			top: size(-43);
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: size(21);
				height: size(1);
				background: #fff; 
			}
			&::before {
				transform: rotate(45deg);
				left: size(18);
			}
			&::after {
				transform: rotate(-45deg);
				left: size(18);
			}
		}
		&-phone {
			color: #fff;
			background: $brown;
			border-color: $brown;
			&::before {
				content: '';
				position: absolute;
				left: size(14);
				top: 50%;
				transform: translateY(-50%);
				width: size(23);
				height: size(23);
				background: url('../../images/icons/tel.svg');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		&-mail {
			border: size(1) solid #fff;
			&::before {
				content: '';
				position: absolute;
				left: size(14);
				top: 50%;
				transform: translateY(-50%);
				width: size(20);
				height: size(14);
				background: url('../../images/icons/mail.svg');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		&-whatsapp {
			border: size(1) solid #fff;
			&::before {
				content: '';
				position: absolute;
				left: size(14);
				top: 50%;
				transform: translateY(-50%);
				width: size(19);
				height: size(19);
				background: url('../../images/icons/whatsapp.svg');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	@media screen and(min-width: 1366px) {
		display: none;
	}
}