.plan {
	margin-top: size(33);
	font-weight: 300;
	font-size: size(13);
	line-height: size(17);
	letter-spacing: 0.1rem;
	p {
		margin-bottom: size(5);
		&.plan__size {
			margin-bottom: size(25);
		}
	}
	a {
		display: block;
		width: 100%;
		text-align: center;
		&.plan__present {
			text-align: left;
		}
	}
	&__img {
		max-width: size(693);
		img {
			width: 100%;
		}
	}
	&__btn {
		margin-bottom: size(14);
		padding: size(11);
		font-weight: 500;
		font-size: size(14);
		line-height: size(18);
		letter-spacing: 0.1rem;
		border: size(1) solid #fff;
		transition: $transition;
		&:hover,
		&:focus {
			background: #fff;
			color: #000;
		}
	}
	&__info {
		margin-top: size(20);
	}
	&__order {
		padding: size(7);
	}
	&__present {
		margin-top: size(14);
		font-weight: 350;
		font-size: size(15);
		line-height: size(40);
		letter-spacing: 0.1rem;
		color: #B6B6B6;
		&:hover,
		&:focus {
			color: #fff;
			span {
				&::after {
					background: #fff;
				}
			}
		}
		span {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: size(1);
				background: #B6B6B6;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.plan {
		a {
			&.plan__show {
				display: none;
			}
			&.plan__present {
				margin-top: size(25);
				text-align: center;
			}
		}
		&__left {
			width: calc(100% - 24rem);
		}
		&__info {
			max-width: size(354);
		}
		&__size {
			margin-top: size(10);
			font-size: size(15);
			line-height: size(19);
		}
		&__btn {
			margin-bottom: size(25);
			padding: size(13);
			font-size: size(16);
			line-height: size(21);
		}
		&__order {
			padding: size(11);
		}
	}
}

@media screen and(min-width: 991px) {
	.plan {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		&__info {
			margin-top: 0;
		}
	}
}

@media screen and(min-width: 1280px) {
	.plan {
		margin-top: size(55);
	}
}