.pro {
	width: 100%;
	margin-top: size(35);
	&__img {
		max-width: size(810);
		position: relative;
		&-dekstop {
			display: none;
		}
		&-name {
			position: absolute;
			bottom: size(5);
			right: size(20);
			font-weight: 350;
			font-size: size(10);
			line-height: size(28);
			color: #858585;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__info {
		margin-top: size(25);
		&-name {
			display: none;
		}
	}
	&__title {
		font-weight: bold;
		font-size: size(20);
		line-height: size(21);
	}
	&__text {
		margin-top: size(15);
		font-weight: 300;
		font-size: size(10);
		line-height: size(13);
		letter-spacing: 0.055rem;
		p {
			margin-bottom: size(14);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__link {
		margin-top: size(18);
		&-dekstop {
			display: none;
		}
	}
}

@media screen and(min-width: 480px) {
	.pro {
		&__img {
			&-tel {
				display: none;
			}
			&-dekstop {
				display: block;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	.pro {
		&__title {
			br {
				display: none;
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.pro {
		margin-top: size(60);
		&__inner {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}
		&__img {
			width: size(610);
		}
		&__info {
			margin-top: 0;
			width: calc(100% - 40rem);
			max-width: size(775);
			min-height: size(360);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}	
		&__text {
			max-width: 100%;
			margin-bottom: size(10);
			font-size: size(16);
			line-height: 130%;
			p {
				margin-bottom: size(20);
			}
		}
		&__title {
			font-size: size(30);
			line-height: 120%;
		}
		&__link {
			min-width: size(380);
			margin-top: auto;
			display: inline-block;
			width: auto;
			&-tel {
				display: none;
			}
			&-dekstop {
				display: inline;
			}
		}
	}		
}	

@media screen and(min-width: 1366px) {
	.pro {
		&__text {
			margin-top: size(15);
		}
		&__img {
			&-name {
				display: none;
			}
		}
		&__info {
			&-name {
				display: block;
				color: #858585;
				letter-spacing: -0.001rem;
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.pro {
		margin-top: size(100);
		&__title {
			font-size: size(45);
			line-height: size(58);
		}
	}
}

@media screen and(min-width: 1920px) {
	.pro {
		&__img {
			width: size(810);
		}
		&__info {
			width: calc(100% - 54.063rem);
			min-height: size(491);
			margin-top: size(-10);
			&-name {
				margin-top: size(40);
			}
		}
		&__text {
			margin-top: size(35);
			font-size: size(18);
			line-height: size(28);
			letter-spacing: 0.025rem;
			p {
				margin-bottom: size(30);
			}
		}
	}
}