.property {
	font-weight: 300;
	font-size: size(11);
	line-height: size(16);
	letter-spacing: 0.05rem;
	li {
		margin-bottom: size(10);
		display: flex;
		align-items: flex-start;
		&:last-child {
			margin-bottom: 0;
		}
		&.property__none {
			display: none;
		}
	}
	&__type {
		min-width: size(143);
		width: size(143);
		margin-right: size(5);
		overflow-x: hidden;
	}
	&__descr {
		font-weight: 400;
	}
	&__more {
		margin-top: size(20);
		display: inline-block;
		font-weight: 350;
		font-size: size(13);
		line-height: size(13);
		text-align: justify;
		letter-spacing: 0.1rem;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: size(1);
			background: #fff;
		}
		&:hover,
		&:focus {
			&::after {
				display: none;
			}
		}
	}
	&--hidden {
		display: none;
	}
}

@media screen and(min-width: 768px) {
	.property {
		font-size: size(15);
		line-height: 120%;
		&__type {
			min-width: size(240);
			width: size(240);
		}
	}
}

@media screen and(min-width: 1280px) {
	.property {
		&-wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
		&__more {
			margin-top: size(20);
			font-size: size(16);
			line-height: size(26);
			font-weight: bold;
			display: none;
		}
		&--hidden {
			display: block;
		}
		li {
			margin-bottom: size(20);
			letter-spacing: 0.1rem;
			&.property__none {
				display: flex;
			}
		}
	}
}