.rate {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-weight: bold;
	font-size: size(13);
	line-height: size(25);
	text-align: center;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	li {
		margin-right: size(15);
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		border-bottom: size(1) solid transparent;
		&.active {
			color: #fff;
			text-decoration: underline;
		}
		&:hover,
		&:focus {
			color: #fff;
		}
	}
}