.request {
	width: calc(100% - 1.25rem);
	opacity: 0;
	visibility: hidden;
	max-height: 100vh;
	padding: size(25);
	background: #000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 95;
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	&::-webkit-scrollbar { 
		width: 0; 
		height: 0; 
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
	&__top {
		margin-bottom: size(28);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__title {
		font-weight: 300;
		font-size: size(36);
		line-height: size(36);
		span {
			display: none;
		}
	}
	&__close {
		display: flex;
		align-items: center;
		&-icon {
			width: size(22);
			height: size(22);
			position: relative;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: size(10);
				left: 0;
				width: 100%;
				height: size(1);
				background: #fff;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
		&-text {
			display: none;
			margin-left: size(18);
			font-weight: 500;
			font-size: size(13);
			line-height: size(17);
			text-transform: uppercase;
		}
	}
	&__input {
		display: block;
		width: 100%;
		height: size(56);
		margin-bottom: size(20);
		padding: size(18);
		font-weight: 300;
		font-size: size(14);
		line-height: size(18);
		letter-spacing: 0.1rem;
		background-color: transparent;
		border: size(1) solid #fff;
		color: #fff;
		&::placeholder {
			color: #A4A4A4;
		}
	}
	&__textarea {
		display: block;
		width: 100%;
		height: size(220);
		padding: size(18);
		font-weight: 300;
		font-size: size(14);
		line-height: size(18);
		letter-spacing: 0.1rem;
		background-color: transparent;
		border: size(1) solid #fff;
		color: #fff;
		&::placeholder {
			color: #A4A4A4;
		}
	}
	&__agree {
		margin-top: size(28);
		font-weight: 350;
		font-size: size(10);
		line-height: size(14);
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&-checkbox {
			display: inline-block;
			min-width: size(25);
			height: size(25);
			border: size(1) solid #4E4E4E;
			position: relative;
			svg {
				position: absolute;
				top: size(3);
				left: size(4);
				opacity: 0;
			}
		}
		&-text {
			display: block;
			width: calc(100% - 2.563rem);
			a {
				color: $brown;
			}
		}
		input {
			display: none;
			&:checked ~ .request__agree-checkbox {
				background: $brown;
				svg {
					opacity: 1;
				}
			}
		}
	}
	.btn {
		width: 100%;
		margin-top: size(28);
		letter-spacing: 0.1rem;
	}
	&__map {
		display: none;
		position: relative;
	}
	&__item {
		width: size(451);
		height: 100%;
		background-image: url('../../images/request/request-1.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(163.61deg, #000000 1.3%, rgba(0, 0, 0, 0) 88.63%);
		}
		&-top {
			padding: size(40);
			position: relative;
			z-index: 5;
			a {
				display: inline-block;
			}
		}
		&-title {
			max-width: size(309);
			text-transform: uppercase;
			font-weight: 350;
			font-size: size(21);
			line-height: size(23);
		}
		&-address {
			margin-top: size(8);
			font-size: size(12);
			line-height: size(15);
			color: rgba(255, 255, 255, 0.9);
			opacity: 0.7;
		}
		&-bottom {
			width: 100%;
			padding: size(33) size(40);
			background: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(size(5));
			position: absolute;
			z-index: 5;
			bottom: 0;
			left: 0;
		}
		&-size {
			font-weight: 400;
			font-size: size(13);
			line-height: size(14);
		}
		&-price {
			margin-top: size(5);
			font-weight: bold;
			font-size: size(23);
		}
	}
}

@media screen and(min-width: 768px) {
	.request {
		width: calc(100% - 3.125rem);
		&__title {
			span {
				display: inline;
			}
		}
		&__close {
			&-text {
				display: inline;
			}
		}
	}
}

@media screen and(min-width: 1366px) {
	.request {
		width: size(1255);
		&__inner {
			display: flex;
			justify-content: space-between;
		}
		&__form {
			width: size(368);
			min-width: size(368);
		}
		&__map {
			display: block;
			width: calc(100% - 24.375rem);
			background-image: url('../../images/map/map.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}