.services {
	&__list {
		margin-top: size(15);
		li {
			margin-bottom: size(10);
			padding-left: size(15);
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: size(4);
				width: size(6);
				height: size(6);
				background: #B5A798;
				border-radius: 50%;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and(min-width: 1280px) {
	.services {
		&__list {
			margin-top: size(20);
			li {
				padding-left: size(20);
				&::before {
					top: size(9);
					width: size(8);
					height: size(8);
				}
			}
		}
	}
}

@media screen and(min-width: 1440px) {
	.services {
		margin-top: size(60);
		&__list {
			margin-top: size(30);
			li {
				padding-left: size(35);
				margin-bottom: size(14);
				&::before {
					top: size(9);
					width: size(11);
					height: size(11);
				}
			}
		}
	}
}