.show {
	max-width: size(480);
	padding: size(11) size(15) size(18);
	background: #212121;
	letter-spacing: 0.1rem;
	&__street {
		font-weight: 500;
		font-size: size(11);
		line-height: size(16);
	}
	&__link {
		display: block;
		margin-top: size(10);
		width: 100%;
		padding: size(7);
		font-weight: 400;
		font-size: size(12);
		line-height: size(15);
		text-align: center;
		border: size(1) solid #FFFFFF;
		transition: $transition;
		&:hover,
		&:focus {
			background: #fff;
			color: #212121;
		}
	}
}

@media screen and(min-width: 768px) {
	.show {
		padding: size(15) size(20);
		&__street {
			font-size: size(12);
			line-height: 120%;
		}
		&__link {
			padding: size(10);
			font-size: size(13);
			line-height: 120%;
		}
	}
}

@media screen and(min-width: 1280px) {
	.show {
		min-width: size(480);
		padding: size(29) size(49) size(40);
		&__street {
			font-size: size(16);
		}
		&__link {
			margin-top: size(25);
			padding: size(15);
			font-size: size(15);
		}
	}
}