.swiper {
	&-wrapper {
		box-sizing: border-box;
	}
	&-button {
		&-prev {
			&.swiper-button-disabled {
				pointer-events: auto;
			}
		}
		&-next {
			&.swiper-button-disabled {
				pointer-events: auto;
			}
		}
	}
}
